/*by puppy 2017-5-6*/
/*全局控制*/
@font-face{font-family: shenmegui;src: url(../../fonts/tel.ttf);/*这里居然需要两个上*/}
body{background: #444;width: 100%;}
#wrap{width: 100%;height: 100%;}
#main_left{width: 18%;height: 100%;float: left;}
#main_right{width: 80%;height: 100%;float: left;}
.fl{float: left;}
.fr{float: right;}
/*end*/
/*左边 start*/
.aside-left{margin-top: 55px;margin-left: 50px;}
.aside-left h1, .manifesto p,.nav a{color: white;}/*可能会出现后患，以为在其父级上设置的QAQ*/
.header .logo h1{display: inline-block;width: 155px;height: 50px;border: 3px solid white;font-size: 20px;line-height: 50px;text-align: center;margin-bottom:15px;}
.header .logo h1:hover{font-size: 30px;transition-duration: 600ms;transition-delay: 100ms;}
.nav a{text-decoration: none;line-height: 40px;display: block;color: #ccc;}
.manifesto p{display: inline-block;width: 155px;height: 20px;font-size: 13px;text-align: center;margin-bottom: 40px;}
.nav_1{margin-bottom: 50px;}/*两个导航之间的间距*/
.nav a:hover{transition-delay: 200ms;transition-duration: 300ms; padding-left: 25%;font-weight: bold;color: white;border-bottom: 1px dotted #ccc;border-top: 1px dotted #ccc;}
.nav_2 a:last-child:hover{color: orange;}
/*选择最后一个元素，其实就是让打赏我多点效果，碰瓷呗QAQ*/
/*自己作死做了很多特效。但是bug也随之而来。我开始想就是把a直接转换为块状，就可以了。但是兼容性很差啊，在不同窗口下就出问题了。所以我在采用了简单粗暴的办法，直接加br，简直机智如我啊~*/
/*左边完成，End*/
/*右边 start*/
.activity_list{width: 780px;background: #f8f9ff;box-shadow: 2px 3px 3px 1px #000000;}
.activity_margin{padding: 20px 25px;}/*又是一道坑，又不知不觉掉进去了。*/
.item{margin-bottom: 30px;}
.item_title{font-weight: 300;font-size: 20px;padding: 4px;}
.item h4{font-size: 28px;}
.item_introduce{color: #ccc;font-size: 2px;border: 1px dotted #ccc;border-right: none;border-left: none;}
.item_introduce a{color: #CCCCCC;}
.item_introduce a:hover{color: #000;}
.item_content{width: 100%;margin-top:15px;font-family: shenmegui;overflow: hidden;cursor: pointer;border-top: 1px dotted #ccc;border-bottom: 1px dotted #ccc;}
.item_img img{width: 100%;opacity: 0.5;}
.item_img img:hover{opacity: 1;}
.item_content span{font-weight: bold;color: #6e6e72;line-height: 35px;}
.item_content .right{text-align: right;padding-bottom: 30px;padding-right: 25px;font-size: 8px;color: #000;}
.item_content .right a{color: #000;}
.item_content .right a:hover{color: orange;text-decoration: underline;}