*{margin: 0;padding: 0;}

li{list-style: none;}
.fl{float: left;}/*左浮动*/
.fr{float: right;}/*右浮动*/
.clearfix:before,/*清除浮动*/
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
a{text-decoration: none;color: #000;}
.my-a{color: orangered !important;}/*特殊a的最高权重，不然我懒得在元素里内嵌*/
input{border: none;background: none;}