/*taobao.com       by puppy 2017-5-13*/
#wrap{width: 100%;height: 100%;}
#top{width: 100%;}
#top .header{
    width: 100%;
    height: 35px;
    background: #f0f0f0;
}
#top .header .header-text{
    width: 990px;
    height: 100%;
    margin: 0 auto;
}
#top .header .header-text ul li{
    display: inline-block;
    font-size: 12px;
    line-height: 35px;
    margin-right: 7px;
}
#top .header .header-text ul li a{color: #919191;}
#top .header .header-text ul li a:hover{color: orangered;}
/*my header end:)*/

#top .logos{
    width: 1190px;
    margin: 30px auto 10px;
    font-size: 11px;
    padding-bottom: 10px;
}
#top .logos .logo-center input:nth-child(1){
    width: 592px;
    height: 33px;
    border: 4px solid red;
    outline: none;/*清除默认的hover线*/
}
#top .logos .logo-center input:nth-child(2){
    position: absolute;/*定位真神奇，哈哈，一直都是这个烦人，现在终于好了，哈哈*/
    width: 90px;height: 41px;
    background: #ff4500;
    color: #fff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
#top .logos .logo-center .logo-center-text a{line-height: 30px;color: #919191;margin-right: 10px;}
#top .logos .logo-center .logo-center-text a:hover{color: orangered;text-decoration: underline;}
/*my logos end*/

#center .top-nav{border-bottom: 1px solid orangered;}
#center .top-nav .top-nav-a{margin: 0 auto;width:1190px;}
#center .top-nav .top-nav-a a{display: inline-block;width: 120px;height: 35px;line-height: 35px;text-align: center;font-weight: bold;font-size: 14px;}
#center .top-nav .top-nav-a a:nth-child(2){margin-left: 10px;}/*nav间距*/
#center .top-nav .top-nav-a a:nth-child(1){background: orangered;color: #fff;width: 250px;}/*宽度莫名变成了250？？？*/
#center .top-nav .top-nav-a a:hover{background: #c5c5c5;color: orangered;}
#center .top-nav .top-nav-a a:nth-child(1):hover{background: orangered;color: #fff;}
/* my one nav end*/

#center .head-nav-content{
    width: 1190px;
    margin: 0 auto;
}
#center .main-nav-left{
    width: 240px;
    height: 528px;
    background: #fff;
}
#center .main-nav-left .main-nav-left-fl{
    width: 45px;
    height: 528px;
}
#center .main-nav-left .main-nav-left-fl ul li{width: 45px;height: 66px;text-align: center;line-height: 65px;background: #f9f0ef;}
#center .main-nav-left .main-nav-left-fl ul li a{display: block;color: orange;}
#center .main-nav-left .main-nav-left-fl ul li a:hover{color: #000;text-decoration: underline;}
/*my main-nav-left-fl end*/

#center .main-nav-left .main-nav-left-fr{
    width: 195px;
    height: 528px;
}
#center .main-nav-left .main-nav-left-fr .col-nav{
    width: 195px;
    height: 65px;
    border-bottom: 1px solid #efefef;
    font-size: 10px;
    line-height: 2.5;
}
#center .main-nav-left .main-nav-left-fr .col-nav a{
    margin:5px 7px;
    line-height: 20px;
}
#center .main-nav-left .main-nav-left-fr .col-nav a:hover{text-decoration: underline;color: orange;}
#center .new-nav{
    width: 940px;
    height: 528px;/*QAQ*/
}
#center .new-nav .main-banner-w{
    width: 100%;
    height: 280px;
    margin-bottom: 10px;

}
#center .new-nav .main-banner-w .main-banner-w-left{width: 700px;height: 280px;background: #00bbcd;}
#center .new-nav .main-banner-w .main-banner-w-right{width: 228px;height: 280px;overflow: hidden;border-left: 1px solid #e9e9e9;}
#center .new-nav .main-banner-w .main-banner-w-right ul li{/*display: inline-block;*/}
#center .new-nav .main-banner-w .main-banner-w-right ul li a{
    display: block;
    width: 113px;height: 60px;
    color: orangered;
    background: #ffffff;
    float: left;
    text-align: center;
    line-height: 56px;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #dcdcdc;
}
#center .new-nav .main-banner-w .main-banner-w-right ul li a.s-a{
    width: 227px;
    height: 35px;
    line-height: 35px;
}
#center .new-nav .main-banner-w .main-banner-w-right ul li a:hover{color: #000000;font-weight: 500;background: #f7f7f7;transition-duration: 300ms;}
/* my main-banner-w end*/

#center .new-nav .main-banner-m{
    width: 100%;
    height: 238px;
}
#center .new-nav .main-banner-m-left{
    width: 700px;
    height: 238px;
}
#center .new-nav .main-banner-m-left .main-banner-m-left-w{
    width: 700px;
    height: 18px;
    background: #e5e5e5;
}
#center .new-nav .main-banner-m-left .main-banner-m-left-w p{font-size: 12px;line-height: 16px;color: #534c4b;}
#center .new-nav .main-banner-m-left .main-banner-m-left-w p:nth-child(1){font-weight: bold;padding-left: 30px;color: #000000;font-size: 14px;}
#center .new-nav .main-banner-m-left .main-banner-m-left-w p:nth-child(2){color: #1e1e1e;padding-right: 20px;}
#center .new-nav .main-banner-m-left .main-banner-m-left-m{width: 700px;height: 220px;overflow: hidden;}
#center .new-nav .main-banner-m-left .main-banner-m-left-m .main-banner-m-left-m-left{width: 220px;height: 220px;background: url("../images/nav-baner-min-4.jpg");}
#center .new-nav .main-banner-m-left .main-banner-m-left-m .main-banner-m-left-m-left .main-banner-m-left-m-left-w{
    width: 220px;height: 50px;background: #d3ffee;text-align: center;
    position: relative;
    top: 170px;/*定位有毒，慎用。因为我不会QAQ*/
}
#center .new-nav .main-banner-m-left .main-banner-m-left-m .main-banner-m-left-m-left .main-banner-m-left-m-left-w p:nth-child(1){font-size: 16px;padding-top: 10px;}
#center .new-nav .main-banner-m-left .main-banner-m-left-m .main-banner-m-left-m-left .main-banner-m-left-m-left-w p:nth-child(2){font-size: 12px;color: #525b58;}
#center .new-nav .main-banner-m-left .main-banner-m-left-m .main-banner-m-left-m-right{width: 300px;height: 220px;}
#center .new-nav .main-banner-m-left .main-banner-m-left-m .main-banner-m-left-m-right a{
    display: block;line-height: 37px;font-size: 14px;background: #ccc;
    text-indent: 6em;background: url("../images/icon/li.ico") no-repeat;
    background-size: 25px;
    background-position: 48px 8px;
}
#center .new-nav .main-banner-m-left .main-banner-m-left-m .main-banner-m-left-m-right a:hover{
    background: #ccc url("../images/icon/li.ico") no-repeat;
    background-size: 25px;
    background-position: 48px 8px;
    color: #ff3100;
}
#center .new-nav .main-banner-m-right{
    width: 228px;
    height: 238px;
    background: #ededed;
}
/* end*/
#center .con-wrap{width: 1188px;margin: 10px auto;border: 1px solid #eeeeee;}
#center .discount-wrap{width: 248px;height: 520px;}
#center .discount-wrap .discount-w{border: 1px solid #ccc;border-right: none;}
#center .discount-wrap .discount-w .discount-title,
#center .discount-wrap .discount-m .discount-title{
    font-size: 18px;
    text-indent: 1em;
    font-weight: bold;
    padding: 5px;
}
#center .discount-wrap .discount-w .discount-title a{color: #141414;}
#center .discount-wrap .discount-w ul li{display: inline-block;width: 49%;float: left;}
#center .discount-wrap .discount-w ul li a{
    display: block;
    line-height: 50px;
    color: #4d4d4d;
    text-align: center;
    font-size: 13px;
    text-indent: 1em;
}
#center .discount-wrap .discount-w ul li a:hover{color: orangered;}
/*线 start*/
#center .discount-wrap .discount-w  .discount-line{
    width: 247px;height: 1px;background: #eaeaea;
}
#center .discount-wrap .discount-w  .line-1{
    position: relative;
    top:50px;
}
#center .discount-wrap .discount-w .line-2{
    position: relative;
    top: 100px;
}
#center .discount-wrap .discount-w  .line-3{
    position: relative;
    top: 150px;
}
#center .discount-wrap .discount-w  .discount-line-i{
    width: 1px;height: 200px;
    background: #eaeaea;
    position: relative;
    right:-115px;
}
/*线 end*/
#center .discount-wrap .discount-m{
    width: 246px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
}
#center .discount-wrap .discount-m .discount-left-title{
    position: absolute;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
}
#center .discount-wrap .discount-m .discount-left{padding-left: 65px;}
#center .discount-wrap .discount-m .discount-left dl dd{
    display: inline-block;font-size: 12px;
    line-height: 30px;
}
#center .discount-wrap .discount-m .discount-left dl dd a{color: #969696;}
#center .discount-wrap .discount-m .discount-left dl dd a:hover{color:orangered;text-decoration: underline;}
/*discount-left end */
#center .con-wrap .temai-right-pane{width: 938px;height: 518px;border: 1px solid #e2e2e2;}
#center .con-wrap .temai-right-pane ul li{display: inline-block; width: 228px;height: 256px;border: 1px solid #ffffff;overflow: hidden;}/*360浏览器不支持小数点像素，这居然是一个BUG，无FACK说*/
#center .con-wrap .temai-right-pane ul li img{width:200px;height: 200px;padding-left: 10px;padding-top: 2px;opacity: 0.5;}
#center .con-wrap .temai-right-pane ul li .price-line{
    font-size: 12px;color: orangered;padding: 5px;
    background: url("../images/icon/li.ico");
    -webkit-background-size:30px;
    background-size:30px;
    background-position: 180px 10px;
    background-repeat:no-repeat;
}
#center .con-wrap .temai-right-pane ul li .price-line span{color: #6e6e72;font-size: 8px;}
#center .con-wrap .temai-right-pane ul li .price-line em{font-size: 25px;color: orangered;font-style: normal;padding-left: 5px;}
#center .con-wrap .temai-right-pane ul li:hover{border: 1px solid orangered;}
#center .con-wrap .temai-right-pane ul li:hover img{opacity: 1;}
#center .con-wrap .brand .brand-title{padding: 10px;font-size: 18px;font-weight: bold;}
#center .con-wrap .brand .brand-con{width: 940px;;margin: 10px auto;height: 150px;}
#center .con-wrap .brand .brand-con ul li{display: inline-block;float: left;}
#center .con-wrap .brand .brand-con ul li a{
    display: block;width: 150px;height: 60px;
    background: url("../images/brand.png") no-repeat;
    -webkit-background-size:80px;
    background-size:60px;
    border: 1px solid #e7e7e7;
    background-position: 40px 5px;
}
#center .con-wrap .brand .brand-con ul li a p{text-align: center;line-height: 60px;color: #ffffff;display: none;}
#center .con-wrap .brand .brand-con ul li:hover a{background: orange;transition-duration: 200ms;transition-delay: 10ms;}
#center .con-wrap .brand .brand-con ul li:hover a p{display: block;box-shadow: 2px 3px 4px #ccc;transition-duration: 200ms;transition-delay: 10ms;}
/*brand end*/
#center .con-wrap .woman-fl{width: 438px;}
.woman-title{padding: 10px;font-weight: 500;font-size: 18px;}
#center .con-wrap .woman-fl .woman-title span{color: #faa7ec;}
#center .con-wrap .woman-fl .woman-title em{font-size: 12px;color: #fa9351;}
#center .con-wrap .woman-fl .woman-banner img{width: 438px;height: 150px;}
#center .con-wrap .woman-fl .woman-banner span{
    display: inline-block;width: 438px;height: 40px;background: #eaeaea;text-align: center;line-height: 40px;
    opacity: 0.8;
    position: relative;
    bottom: 43px;
}
#center .con-wrap .woman-fl dl >*{display: inline-block;font-size: 12px;padding-left: 20px;padding-bottom: 20px;}
#center .con-wrap .woman-fl dl dt{font-weight: bold;}
#center .con-wrap .woman-fl dl dd{color: #a2a2a2;}
#center .con-wrap .woman-fl dl >*:hover{color:orangered;cursor: pointer;}
/*woman-fl end*/
#center .con-wrap .woman-fr{width:748px;border-right: 1px solid #efefef;border-left: 1px solid #ebebeb;}
#center .con-wrap .woman-fr .woman-title{height: 24px;border-bottom: 1px solid #efefef;}
#center .con-wrap .woman-fr .woman-m{width: 748px;height: 100%;background: #ccc;}
#center .con-wrap .woman-fr .woman-m .woman-m-left{width: 80%;height: 402px;background: #fff;}
#center .con-wrap .woman-fr .woman-m .woman-m-left ul li{width: 32%;height: 199px;display: inline-block;border: 1px solid #ffffff;}
#center .con-wrap .woman-fr .woman-m .woman-m-left ul li:hover{border: 1px solid red;border-radius: 3px;transition-duration: 200ms;}
#center .con-wrap .woman-fr .woman-m .woman-m-left ul li p{font-size: 15px;color: #6e6e6e;text-align: center;padding-bottom: 10px;}
#center .con-wrap .woman-fr .woman-m .woman-m-left ul li img{width: 150px;height: 150px; padding-left: 18px;}
#center .con-wrap .woman-fr .woman-m .woman-m-left ul li img:hover{opacity: 0.7;}
#center .con-wrap .woman-fr .woman-m .woman-m-right{
    width: 20%;height: 402px;
    background: linear-gradient(left , rgb(227, 187, 227) , rgb(230, 188, 248) 79%);
    background: -o-linear-gradient(left , rgb(227, 187, 227) , rgb(230, 188, 248) 79%);
    background: -ms-linear-gradient(left , rgb(227, 187, 227) , rgb(230, 188, 248) 79%);
    background: -moz-linear-gradient(left , rgb(227, 187, 227) , rgb(230, 188, 248) 79%);
    background: -webkit-linear-gradient(left , rgb(227, 187, 227) , rgb(230, 188, 248) 79%);
}
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-w{width: 100%;height: 49%;border-bottom: 1px solid #fff;}
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-w span{
    display: inline-block;
    width: 50px;height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin: 10px;
}
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-w span:hover{background: #c6887e;}
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-w span em{font-style: normal;display: inline-block;width: 8px;}
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-w p{
    display: inline-block;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 70px;font-weight: 500;
}
/*woman-r-right-w end*/
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-m,
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-m a{font-size: 13px;color: #fff;text-indent: 1.5em;line-height: 40px;}
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-m p{font-weight: 500;text-indent: 1em;}
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-m a{display: block;}
#center .con-wrap .woman-fr .woman-m .woman-m-right .woman-m-right-m a:hover{text-decoration: underline;}



/*center end*/

#footer{width: 100%;height: 30px;background: #14befe;margin-top: 30px;}
#footer p{color: #fff;line-height: 30px;text-align: center;font-size: 14px;}
.my-p{width: 700px;height: 100px;margin: 20px auto;border: 1px solid #edebee;background: #01c4ff;font-size: 14px;color: #fff;cursor: pointer;}
.my-p:hover{
    width: 1190px;height: 100px;
    background: orange;border-radius: 5px;
    transition-duration: 1200ms;
    transition-delay: 50ms;
    text-align: center;
    line-height:25px;
}





