/*控制*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.fl{float: left;}
.fr{float: right;}
#top{width: 100%;height: 58px;background: #191d3a;}
.logo , .nav , .about{float: left;}
.top img{padding-right: 38px;}
.top{width: 980px;height: 58px;margin: 0 auto;}
.top ul li{display: inline-block; float: left;}
.top ul li a{
    display: block;
    width: 100px;height: 100%;
    line-height: 58px;
    text-decoration: none;color: #ffffff;
    font-family: "微软雅黑";
    text-align: center;
    font-size: 15px;
}
.top ul li:first-child a{background: orange;}/*这里我若是设置a最后一个，就会出现问题，所以应定位到li最后一个的a*/
.top ul li{border-left: 1px solid #575757;}
.top ul li:last-child{border-right: 1px solid #575757;}
.top ul li:hover a{background: orange;color: #fff;}
.about{padding-top: 13px; padding-left: 45px;}
.about a{display: block;width: 100px; height: 32px;background: #38b774;border-radius: 5px;color: #fff;text-decoration: none;text-align: center;line-height: 32px;}
.about a:hover{background: orange;}
.banner{height: 460px;background: url("../images/banner.jpg") no-repeat center center;}/*若不设置居中，居中，就会出现banner不居中的问题*/
.product{width: 1000px;margin: 50px auto 10px;}
.product ul li{margin-right: 42px;text-align: center;}
.product ul li img{width: 218px;height: 130px;}
.product ul li:last-child{margin: 0;}
.product ul li h3{font-weight: bold;font-size: 13px;}
.product ul li .play a{
    text-align: center;
    font-size: 12px;
    background: url("../images/play.png") no-repeat right center;
    text-decoration: none;color: #38b774;
    line-height: 12px;
    padding-right: 10px;/*论icon能否对齐的所在*/
}
.new{width: 1000px;height: 360px;border: 1px solid red;margin: 0 auto;}






































