*{margin: 0;padding: 0;outline: none;}
li{list-style: none;}
/*-by puppy 2017-4-25*/

/**
 *                             _ooOoo_
 *                            o8888888o
 *                            88" . "88
 *                            (| -_- |)
 *                            O\  =  /O
 *                         ____/`---'\____
 *                       .'  \\|     |//  `.
 *                      /  \\|||  :  |||//  \
 *                     /  _||||| -:- |||||-  \
 *                     |   | \\\  -  /// |   |
 *                     | \_|  ''\---/''  |   |
 *                     \  .-\__  `-`  ___/-. /
 *                   ___`. .'  /--.--\  `. . __
 *                ."" '<  `.___\_<|>_/___.'  >'"".
 *               | | :  `- \`.;`\ _ /`;.`/ - ` : | |
 *               \  \ `-.   \_ __\ /__ _/   .-` /  /
 *          ======`-.____`-.___\_____/___.-`____.-'======
 *                             `=---='
 *          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *                     佛祖保佑        永无BUG
 *            佛曰:
 *                   写字楼里写字间，写字间里程序员；
 *                   程序人员写程序，又拿程序换酒钱。
 *                   酒醒只在网上坐，酒醉还来网下眠；
 *                   酒醉酒醒日复日，网上网下年复年。
 *                   但愿老死电脑间，不愿鞠躬老板前；
 *                   奔驰宝马贵者趣，公交自行程序员。
 *                   别人笑我忒疯癫，我笑自己命太贱；
 *                   不见满街漂亮妹，哪个归得程序员？
*/



/*warp start*/
#warp{width: 100%;margin: 0 auto;}/*卧槽。。。。我刚才居然把选择权的id写错了。一直找个bug，我无语了。。。。
/*wrap end*/
.fl{float: left;}
.fr{float: right;}


/*top start*/
#top{
    width: 1000px;
    height: 100px;
    margin: 5px auto;
    overflow: hidden;
}
     #top .logo{
         width: 300px;
         height: 100%;
         overflow: hidden;
     }
        .logo img{
            position: absolute;
            width: 300px;
            padding-top: 15px;
        }
     #top .search-wrap{
         width: 400px;
         height: 100%;
     }
      .search{
          margin: 30px auto 0;
      }
        .search input:first-child{
            width: 340px;
            height: 30px;
            border: 1px solid #004654;
        }
        .search input:last-child{
            position: absolute;/*绝对定位神好处，不知名bug自动整合？？*/
            width: 40px;height: 32px;/*若是设置为30px，那么就不一样，因为这里的边框的问题，我懒得加border*/
            border:none;
            cursor: pointer;
            background: #000;
            color: #fff;
        }
        .login{
            position: relative;
            width: 298px;
            height: 100%;
        }
            .login img{
                position: absolute;
                top: 5px;
                right: 10px;
            }
/*top end*/



/*nav start*/
#nav{
    width: 100%;height: 40px;
    margin: 0 auto;
    background: #447fcc;
}

.nav-top{width: 65%; margin: 0 auto;}
.nav-top a{
    display: inline-block;
    margin: 0;
    width: 120px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 41px;
    text-decoration: none;
}
.nav-top a:nth-child(1){background: #61c8ff;}
.nav-top a:hover{background: #61c8ff;}
/*nav end*/

/*content start*/
#content{
    width: 100%;height: 800px;
    margin: 0 auto;background: #ffffff;
}

.center{text-align: center;}
.content-body {
    width: 65%;height: 800px;
    margin: 30px auto;
    }
.about-me{
    width: 75%;
    height: 385px;
    border: 1px solid #ccc;
}
.contact-us{
    width: 24%;
    height: 385px;
    border: 1px solid #ccc;
    border-left: none;
}

.content-body h3{display: inline-block;}
/*content end*/

/*貌似这是我做的第一个实战吧，看着只有100几行代码，现在看起来挺简单的QAQ*/