
.head{
    position: fixed;
    top: -2px;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #ffffff;
    height: 50px;
    opacity: .9;
}
/*logo +header con*/
.head_logo_div,.head_nav_div{
    width: 50%;
    float: left;
}
/*logo*/
.head_logo_div{
    line-height: 48px;
    text-align: center;
    font-size: 18px;
}
.head_logo_div a{
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}
/*header con*/
.head_nav_div{
    line-height:48px;
}
.logo_img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}
.head_nav{
    margin: 0 auto;
}
.nav_ul a{
    color: #fff;
}
.head_nav ul li{
    float: left;
    margin-right: 55px;
    cursor: pointer;
    font-size: 16px;
}

.head_nav ul li a{
    font-size: 16px;
    color: #333333;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.head_nav ul li a:hover{
    color:#4b91c9;
}

.wrapBox{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}
/*
#wrapBox{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;

}
*/
.box{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
/*
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
*/
}

.box01_content{  
    position: absolute;
    z-index: 3;
    top: 13%;
    left: 10%;
    width: 80%;
}

.head_div{
    width: 80%;
    margin:0 auto;
    height: 50%;
}

.cycle_item{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.head_img_div{
    position: absolute;
    top: -20px;
    left: 80px;
    z-index: 2;
    display: inline;
    width: 200px;
    height: 200px;
    margin-top: 80px;
}

.head_img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #78d1ff;
    margin: 7px;
    -webkit-animation: headneon 1.5s ease-in-out infinite alternate;
    -moz-animation: headneon 1.5s ease-in-out infinite alternate;
    animation: headneon 1.5s ease-in-out infinite alternate;
}
.head_img:hover{
    height: 210px;
    border-radius: 40%;
    transition: all 50ms,400ms;
}
@-webkit-keyframes headneon {
    from {
        box-shadow: 0 0 1px #fff,
                    0 0 2px #fff,
                    0 0 3px #fff,
                    0 0 4px #fff;
    }
    to {
        box-shadow: 0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #fff;
    }
}

@-moz-keyframes headneon {
    from {
        box-shadow: 0 0 1px #fff,
                    0 0 2px #fff,
                    0 0 3px #fff,
                    0 0 4px #fff;
    }
    to {
        box-shadow: 0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #fff;
    }
}

.green_cycle_img{
    animation-name: clockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:clockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

.yellow_cycle_img{
    animation-name: anticlockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:anticlockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

.blue_cycle_img{
    animation-name: clockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:clockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

@keyframes clockwise{
    from {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes clockwise{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

@keyframes anticlockwise{
    from {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}

@-webkit-keyframes anticlockwise{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(-360deg);
    }
}

.cycle_item a{
    position: absolute;
    display: block;
    border-radius: 25px;
    width:120px;
    height: 50px;
    left: -50px;
    top: 180px;
}
.box01_content h1,.box01_content h2,.box01_content p{
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
}

.box01_content .title{
    font-size: 40px;
    margin-top: 10px; 
}

.box01_content .title_h2{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#box01_text{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.box01_content .box01_p{
    font-size: 20px;
    font-weight: lighter;
    line-height: 38px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
}

.box01_content .box01_p:hover{
    font-size: 22px;
}

.float_btn{
    z-index: 999;
    display: block;
    position: fixed;
    right: 40px;
    top: 50%;
}

.float_btn li{
    height: 12px;
    width: 12px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 14px;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.float_btn li:last-child{
    margin-bottom: 0;
}

.float_btn>.btn_on{
    background: #ffffff;
}

.arrow_div{
    z-index: 5;
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
}

.box_content{
    width: 80%;
    left: 10%;
    position: absolute;
    z-index: 2;
}

.box_content{
    top: 18%;
}

.shuxian{
    width: 1px;
    height: 100%;
    background-color: #42c9a3;
}

#box02_text{
    width: 50%;
    min-width: 400px;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

#box02_text h1{
    font-size: 25px;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 25px;
    text-align: center;
    position: relative;
    right: -100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transform: all 0.5s;
}

.overline{
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #ffffff;
    position: relative;
    right: -100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transform: all 0.5s;
}

#box02_text p{
    font-size: 20px;
    font-weight: lighter;
    color: #ffffff;
    line-height: 38px;
    text-align: center;
    position: relative;
    right: -100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transform: all 0.5s;
}

#box02_text p:hover{
    font-size: 22px;
}

.box03_content{
    right: 19%;
    height: 80%;
    overflow: hidden;
}

.timeUl{
    height: 100%;
    width: 160%;
    position: relative;
    left: 0;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.timeUl .content{
    position: absolute;
    top: 40px;
    left: 20%;
    z-index: 9999;
    width: 500px;
    font-size: 14px;
    color: #fff;
    margin: 100px auto;
    box-shadow: 1px 1px 15px #ccc;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    line-height: 60px;
    cursor: pointer;
}
.timeUl .content:hover{
    width: 550px;
    transition: all 50ms,2s;
}
.timeUl .content p{

}
.box04_content{
    left: 10%;
    height: 80%;
    overflow: hidden;
}

.box04_title{
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
}

.foot{
    width: 100%;
    background: #ffffff;
    position: relative;
    padding-top: 60px;
    display: block;
}

.foot_info_main{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    font-size: 30px;
    text-align: center;
}

.foot_info_main p{
    font-size: 16px;
    font-weight: normal;
    line-height: 50px;
    border-bottom: 1px dashed #888888;
}
.foot_info_main a{
    display: inline-block;
}
.foot_power{
    text-align: center;
    padding: 15px 0;
}

.foot_power h3{
    font-size: 12px;
    color: #999999;
    font-weight: normal;
}

.box_bg{
    position: absolute;
}

.nav_li_on{
    color: red;
}
@media screen and (max-width: 1100px){
    .head{
        height: 70px
    }
    
    .head_logo_div{
        width: 30%;
    }
    
    .head_nav_div{
        width: 70%;
        font-size: 16px;
    }
    
    .head .head_nav ul li{
        margin-right: 40px;
    }
    
    .box01_content{
        width: 100%;
        left: 0;
    }
    
    .box_content{
        left: 0;
        width: 100%;
    }
    
    #box02_text{
        display: none;
    }
    
    .box02_content #bar_container{
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    
    .box04_content{
        width: auto;
        top: 10%;
    }
    
    #bar_container .bar{
        margin: 30px 0;
    }
    
    .box03_content .right_div,.box03_content {
        top: 80%;
    }
    
    .box03_content{
        width: 90%;
        left: 5%;
    }
    
    .float_btn{
        right: 1em;
    }
    
    .box04_content{
        padding: 1em 0 0 0;
    }
    
    .hobby_img_div{
        display: none;
    }
    
    .hobby_content li{
        width: 90%;
        margin: 0.5em auto;
        float: none;
    }
    
    .hobby_img_info_mob{
        display: block;
    }
    
    .hobby_img_info_mob h1{
        line-height: 40px;
        font-size: 25px;
        color: #ffffff;
        font-weight: lighter;
        border-bottom: 1px solid #ffffff;
        display: inline-block;
    }

    .hobby_img_info_mob a{
        color: #bbb;
        font-size: 18px;
        line-height: 35px;
        font-style: italic;
    }

    .foot_info_main{
        width: 90%;
        margin: 0 auto;
    }

    .foot_info_main ul li{
         margin: 0px 0 16px 0;
         width: 20%;

    }

    .foot_info_main ul li a{
        background: none;
    }
}

@media screen and (max-width: 700px){
    .head{
        height: 3rem;    
    }
    
    .head_logo_div{
        width: 100%;
        height: 3rem;
        line-height: 3rem;
    }
    
    .head_nav_div{
        display: none;
    }
    
    .box01_content{
        top: 0;
    }
    
    .head_div{
        width: 100%;
    }
    
    .cycle_item {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    .cycle_item a{
        display: none;
    }
    .box01_content .title{
        font-size: 1em;
    }
    .box01_content .title_h2{
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .box01_content .box01_p{
        font-size: 0.8rem;
        line-height: 1.6rem;
    }
    
    .box02_content{
        top: 5rem;
        width: 100%;
        height: auto;
    }
    
    .logo_img{
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 0.1rem;
    }
    
    #bar_container .bar{
        margin: 0.5rem 0;
    }
    
    .bar{
        height: 2rem;
        font-size: 0.8rem;
    }
    
    #bar_container .bar:before {
        position: absolute;
        padding: 0.5rem;
        height: 2rem;
    }
    
     #bar_container .bar:after {
        position: absolute;
        padding: 0.5rem;
        height: 2rem;
        right: -3rem;
    }
    
    .box03_content{
        width: 90%;
        left: 5%;
        top: 3.2rem;
        height: auto;
    }
    
    .timeUl{
        width: auto;
        height: auto;
    }
    .box03_content .right_div, .box03_content .left_div{
        display: none;
    }

    .foot_info_main{
        padding-bottom: 1rem;
    }
    .foot_power{
        padding: 1rem 0;
    }
}

#bar_container{
    float: left;
    color: #ffffff;
    width: 50%;
}

#box02_text{
    float: left;
}

.bar {
    height: 40px;
    width: 0;
    transition: width 1.2s ease-in-out;
    -webkit-transition: width 1.2s ease-in-out;
    -moz-transition: width 1.2s ease-in-out;
    -ms-transition: width 1.2s ease-in-out;
    position: relative;
    margin: 30px 0;
    border-radius: 4px;
}