/*
                                 _.._        ,------------.
                               ,'      `.    ( We want you! )
                              /  __) __` \    `-,----------'
                             (  (`-`(-')  ) _.-'
                             /)  \  = /  (
                            /'    |--' .  \
                           (  ,---|  `-.)__`
                            )(  `-.,--'   _`-.
                           '/,'          (  Uu",
                            (_       ,    `/,-' )
                            `.__,  : `-'/  /`--'
                              |     `--'  |
                              `   `-._   /
                               \        (
                               /\ .      \.
                              / |` \     ,-\
                             /  \| .)   /   \
                            ( ,'|\    ,'     :
                            | \,`.`--"/      }
                            `,'    \  |,'    /
                           / "-._   `-/      |
                           "-.   "-.,'|     ;
                          /        _/["---'""]
                         :        /  |"-     '
                         '           |      /
                                     `      |


            ---------------------------------------------------------------
            -           听说你想偷我的源码？？？？？                      -
            -                请尊重原作者@陈宏洲                          -
            -                  如需要源代码请@2915537708@qq.com           -
            -                       ver.1.8                               -
            -                           -本次，修改更倾向于扁平化         -
            -                           -Time: 2017-6-9                   -
            -                           -by @陈宏洲                       -
            -                           -准备买域名中                     -
            ---------------------------------------------------------------
 */

/*top starts*/
body{
    font-size: 12px;
    font-family: "微软雅黑";
}
#top{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
    .nav{
        height: 50px;
        background: #1c1717;
    }
        .nav ul li{
            display: inline-block;
        }
            .nav ul li a{
                display: inline-block;
                float: left;
                width: 100px;
                height: 50px;
                font-size: 14px;
                color: #fff;
                line-height: 50px;
                text-align: center;
                vertical-align: middle;
            }
            .nav ul li a.ml{
                margin-left: 60px;
            }/*控制与首页的间距，ml=“margin-left”*/

            .headroom {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                transition: all .2s ease-in-out;
                z-index: 9999;
            }
            .headroom--unpinned {top: -100px;}
            .headroom--pinned {top: 0;}
            #top  .my{
                position: absolute;
                left: 150px;
                top: 130px;
                z-index: 100;
            }
                #top .my p{
                    font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
                    text-align: center;
                    font-size: 20px;
                    color: #f5f5ff;
                    line-height: 40px;
                    text-shadow: 1px 1px 5px #9f9f9f;
                }
            .banner{
                position: absolute;
                top: 0;
                width: 100%;
                overflow: hidden;
            }
            .banner ul{
                position: absolute;
            }
            .banner ul li{
                width: 100%;
                height: 560px;
                float: left;
            }
            .banner ol{
                height: 20px;
                background: rgba(0,0,0,0.5);
                position: absolute;
                left:50%;
                bottom: 30px;
                padding: 0 10px;
                border-radius: 10px;
                cursor: pointer;
            }
            .banner ol li{
                width: 10px;
                height: 10px;
                float: left;
                margin: 5px 5px;
                background: rgba(255,255,255,0.5);
                border-radius: 50%;
                cursor: pointer;
            }
            .banner ol .current{
                background: rgba(255,255,255,1);
            }
            .banner i{
                width: 58px;
                height: 120px;
                position: absolute;
                top: 50%;
                margin-top: -60px;
                cursor: pointer;
                border-radius: 5px;
                display: none;
            }
            .banner .left{
                left: 60px;
                background: url('') no-repeat 0 0;
            }
            .banner .right{
                right: 60px;
                background: url('') no-repeat 0 -120px;
            }
            .banner .left:hover , .banner .right:hover{
                background-color: rgba(0, 0, 0, 0.31);
            }