.fl{float: left;}
.fr{float: right;}
.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
    clear: both;
}
.container{width: 976px;margin: 0 auto;}
.top{width: 976px;height: 66px;margin: 8px auto 11px;}
.top .loginBar{width: 750px;height: 15px;font-size: 12px;text-align: right;}
.top .loginBar a{color: #010000;}
.top .nav{width: 750px;height: 50px;line-height: 50px;}
.top .nav a{display: inline-block;font-size: 16px;margin-left: 29px;color: #000000;font-weight: 500;}
.top a:hover,.mainnav ul li a:hover{color: red;}
.center{width: 100%;margin: 0 auto;}
.center .banner{margin-bottom: 10px;}
.mainnav{width: 210px;overflow: hidden;border-right: 1px solid #ebebeb;}
.mainnav p,.mainnav ul li{
    width: 210px;
    height: 50px;
}
.mainnav p span{font-size: 12px;}
.mainnav p{background: #DFDFDF;font-size: 18px;line-height: 50px;text-indent: 1.5em;}
.mainnav ul li{border-bottom: 1px solid #ccc;padding-left: 2em;}
.mainnav ul li a{line-height: 50px;color: #000;background: url("../images/icon/li.gif") left no-repeat;padding-left: 1.5em;}
.mainnav img{margin-top: 15px;border-radius: 10px;}
.content{width: 765px;}/*什么鬼？？？？？？？？？？？？*/
.main_top{width: 100%;height: 100px;border-bottom: 1px solid #ccc;}/*50+50=100px*/
.main_wrap{padding-top: 80px;}
.main_wrap p{font-size: 16px;color: red;line-height: 20px;}
.main_wrap span{font-size: 12px;}
.main_center{padding-top: 30px;padding-bottom: 105px;}
.main_center p{line-height: 40px;text-indent: 2em;font-size: 14px;}
.main_footer{padding-left: 105px;font-size: 12px;}








































