@charset "utf-8";
/* /base/assets/css/common/phoneCommon.min.css */
body {
	min-width: 1000px;
	width: 100%
}

.phone_wrapper {
	width: 980px;
	margin: 0 auto
}

.phone_topbar {
	#background: #f7f7f7;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	height: 39px;
	line-height: 38px;
	position: relative;
	z-index: 111
}

.phone_topbar li {
	#background:
		url(../base/assets/css/../images/phone_universal.png?__UED__1427680997718)
		no-repeat right -188px
}

.phone_topbar li.last {
	#background: 0 0
}

.phone_topbar a {
	font-family: "microsoft yahei"
}

.phone_site {
	float: left
}

.phone_site li {
	float: left;
	padding: 0 10px
}

.phone_site li a {
	color: #333;
	display: block
}

.phone_site li a:hover {
	color: #f60;
	text-decoration: underline
}

.phone_site .site_cur a {
	color: #f60;
	font-weight: 700;
	border-bottom: #f60 2px solid;
	position: relative
}

.phone_menu {
	_height: 39px;
	_overflow: hidden;
	float: right;
	display: inline
}

.phone_menu li {
	float: left;
	padding: 0 10px
}

.phone_menu li a {
	color: #333
}

.phone_menu li a:hover,.phone_menu li a:hover span {
	color: #f60
}

.phone_menu li .ico_desktop,.phone_menu li .ico_flash,.phone_menu li .ico_feedback,.phone_menu li .ico_col,.phone_site li .ico_flash
	{
	#background:
		url(../base/assets/css/../images/phone_universal.png?__UED__1427680997718)
		no-repeat 0 -399px;
	width: 15px;
	height: 12px;
	float: left;
	margin: 11px 2px 0 0;
	display: inline
}

.phone_menu li .ico_col {
	#background:-position: 0 -175px;
	margin-top: 11px
}

.phone_menu li .ico_flash,.phone_site li .ico_flash {
	#background:-position: 0 -285px;
	width: 16px;
	height: 16px;
	margin-top: 11px
}

.phone_menu li .ico_feedback {
	#background:-position: 0 -302px
}

.phone_menu span {
	_height: 39px;
	_line-height: 40px;
	float: left;
	font-family: simsun;
	color: #333;
	cursor: pointer
}

.phone_menu .phone_menu_entrance {
	position: relative;
	z-index: 100;
	height: 39px;
	zoom: 1;
	border-left: 1px solid #f7f7f7;
	border-right: 1px solid #f7f7f7
}

.phone_sitemap .phone_icon_list,.phone_menu li.phone_menu_cur .phone_icon_list
	{
	#background:
		url(../base/assets/css/../images/phone_universal.png?__UED__1427680997718)
		no-repeat -2px -345px;
	width: 11px;
	height: 10px;
	overflow: hidden;
	float: left;
	margin: 14px 2px 0 0;
	display: inline
}

.phone_sitemap .phone_icon_dropdown,.phone_menu li.phone_menu_cur .phone_icon_dropdown
	{
	float: left;
	#background:
		url(../base/assets/css/../images/phone_universal.png?__UED__1427680997718)
		no-repeat -4px -336px;
	width: 8px;
	height: 4px;
	overflow: hidden;
	margin: 18px 0 0 2px;
	display: inline
}

.phone_menu li.phone_menu_cur {
	height: 40px;
	#background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd
}

.phone_menu li.phone_menu_cur span {
	color: #f60
}

.phone_menu li.phone_menu_cur .phone_sitemap {
	color: #f60
}

.phone_menu li.phone_menu_cur .phone_icon_list {
	#background:-position: -2px -345px
}

.phone_menu li.phone_menu_cur .phone_icon_dropdown {
	#background:-position: -4px -362px
}

.phone_sitemap_list {
	position: absolute;
	display: none;
	right: -1px;
	top: 40px;
	width: 978px;
	#background: #fff;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 20px 0;
	overflow: hidden
}

.phone_list_box {
	overflow: hidden;
	margin-right: -13px;
	zoom: 1
}

.phone_list {
	float: left;
	width: 224px;
	padding-left: 20px;
	border-right: 1px solid #ddd;
	margin-right: 2px
}

.phone_list p {
	font-size: 16px;
	color: #f60
}

.phone_sitemap_list .phone_list_item li {
	float: left;
	width: 110px;
	#background: 0 0;
	padding: 0;
	line-height: 32px;
	height: 32px
}

.phone_sitemap_list .phone_list_item li a {
	line-height: 32px;
	height: 32px
}

.phone_game_qrcode {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 15px;
	display: inline
}

.phone_game_qrcode img {
	width: 80px;
	height: 80px
}

.phone_sitemap_list .phone_game_list {
	margin-top: 5px
}

.phone_sitemap_list .phone_game_list li {
	#background: 0 0;
	padding: 0;
	width: 100px;
	line-height: 24px;
	height: 32px
}

.phone_sitemap_list .phone_game_list li a {
	line-height: 24px;
	height: 32px
}

.logo_link {
	color: #333;
}

.logo_link:hover {
	color: #333;
}

.phone_footer {
	#background: #EDEDED;
	border-top: 2px solid #E1E1E1;
	color: #666;
	margin-top: 15px;
	padding: 25px 0 30px;
	overflow: hidden;
	zoom: 1
}

.phone_footer .phone_wrapper {
	position: relative;
	zoom: 1
}

.phone_footer a:hover {
	color: #f60
}

.phone_product {
	height: 28px;
	border-bottom: 1px dashed #D5D5D5;
	font-size: 0;
	overflow: hidden;
	padding-bottom: 12px;
	margin: 0 0 20px
}

.phone_product dt {
	display: none
}

.phone_product dd.last {
	#background: 0 0
}

.phone_product dd {
	color: #333;
	float: left;
	height: 16px;
	font-size: 12px;
	margin: 2px 0 0;
	#background:
		url(../base/assets/css/../images/phone_universal.png?__UED__1427680997718)
		no-repeat right -231px;
	padding: 0 8px;
	font-family: simsun;
	line-height: 16px
}

.phone_product dd a {
	color: #666
}

.phone_product dd i {
	margin: 0 5px 0 0;
	_margin: 0 2px 0 0
}

.phone_product .ico_yx,.phone_product .ico_my,.phone_product .ico_sj,.phone_product .ico_dm,.phone_product .ico_wg,.phone_product .ico_news,.phone_product .ico_api,.phone_product .ico_android,.phone_product .ico_app
	{
	#background:
		url(../base/assets/css/../images/phone_universal.png?__UED__1427680997718)
		no-repeat 0 -35px;
	width: 16px;
	height: 16px;
	float: left
}

.phone_product .ico_my {
	#background:-position: 0 -53px
}

.phone_product .ico_sj {
	#background:-position: 0 -71px
}

.phone_product .ico_dm {
	#background:-position: 0 -89px
}

.phone_product .ico_wg {
	#background:-position: 0 -107px
}

.phone_product .ico_news {
	#background:-position: 0 -125px
}

.phone_product .ico_api {
	#background:-position: 0 -143px
}

.phone_product .ico_android {
	#background:-position: 0 -267px
}

.phone_product .ico_app {
	#background:-position: 0 -419px
}

.phone_copyright {
	font-size: 12px;
	color: #333;
	line-height: 20px;
	font-family: arial
}

.phone_copyright a {
	color: #999;
	padding-right: 10px;
	margin-right: 10px
}

.phone_copyright .m_link {
	padding-bottom: 11px;
	font-size: 0
}

.phone_copyright .m_link a {
	border-right: 1px solid #999;
	font-size: 12px;
	color: #00519D
}

.phone_copyright .m_link a:hover {
	color: #f60
}

.phone_copyright .m_link a.last {
	border-right: 0 none
}

.phone_pad {
	visibility: hidden
}

.phone_anquan {
	position: absolute;
	right: 0;
	top: 65px
}

.phone_mtopbar {
	height: 34px;
	#background:
		url(../base/assets/css/../images/phone_mini.png?__UED__1427680997718)
		repeat-x
}

.phone_mwrapper {
	width: 980px;
	margin: 0 auto
}

.phone_mtopbar .a_logo,.phone_mtopbar .i_logo {
	#background:
		url(../base/assets/css/../images/phone_mini.png?__UED__1427680997718)
		no-repeat 0 -36px;
	width: 140px;
	height: 28px;
	float: left;
	display: inline;
	margin-top: 3px;
	text-indent: -1024em;
	overflow: hidden
}

.phone_mtopbar .i_logo {
	#background:-position: 0 -65px
}

.phone_nav {
	overflow: hidden;
	margin: 0 0 0 10px;
	float: left;
	display: inline;
	font-size: 12px
}

.phone_nav li {
	float: left;
	display: inline;
	margin: 0 5px;
	line-height: 34px
}

.phone_msch {
	float: right;
	display: inline;
	width: 182px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	margin: 5px 0 0
}

.phone_msch .m_sch {
	#background:
		url(../base/assets/css/../images/phone_mini.png?__UED__1427680997718)
		no-repeat 0 -94px;
	width: 101px;
	height: 20px;
	line-height: 20px;
	padding: 2px 10px 2px 25px;
	float: left
}

.phone_msch .m_sch .ipt_txt {
	border: 0 none;
	color: #999;
	width: 101px;
	height: 20px;
	#background: 0 0;
	vertical-align: top
}

.phone_msch .search_btn {
	#background:
		url(../base/assets/css/../images/phone_mini.png?__UED__1427680997718)
		no-repeat -136px -94px;
	width: 46px;
	height: 24px;
	float: left;
	color: #353535;
	cursor: pointer;
	border: 0 none
}

.phone_cntopbar {
	#background:
		url(../base/assets/css/../images/phone_topbar.png?__UED__1427680997718)
		repeat-x 0 -40px;
	padding: 5px 0 0;
	height: 45px
}

.phone_cntopbar .phone_login {
	float: right;
	padding: 0 0 5px;
	height: 40px;
	line-height: 40px;
	font-size: 12px
}

.logo_img {
	float: left;
	width: 220px;
	height: 70px;
}

.phone_cntopbar .cn_logo {
	float: left;
	#background:
		url(../base/assets/css/../images/phone_topbar.png?__UED__1427680997718)
		no-repeat;
	width: 186px;
	height: 40px;
	margin: 2px 0 0;
	display: inline;
	text-indent: -1024em;
	overflow: hidden
}

.phone_cntopbar .phone_nav {
	float: left;
	margin: 0 0 0 20px;
	display: inline
}

.phone_cntopbar li {
	#background:
		url(../base/assets/css/../images/phone_universal.png?__UED__1427680997718)
		no-repeat;
	#background:-position: right -185px;
	_#background:-position: right -188px
}

.phone_cntopbar li.last {
	#background: 0 0
}

.phone_cntopbar .phone_nav li {
	line-height: 44px;
	#background: 0 0
}

.phone_cntopbar .phone_nav a {
	padding: 0 10px;
	color: #333;
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #dcdcdc
}

.phone_cntopbar .phone_nav a:hover {
	text-decoration: none;
	color: #f60
}

.phone_apex {
	width: 192px;
	padding: 10px 10px 5px;
	line-height: 26px
}

.phone_apex .phone_user .phone_avatar {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: -60px;
	display: inline
}

.phone_apex .phone_user {
	padding-left: 60px;
	zoom: 1;
	border-bottom: 1px dashed #cecece;
	padding-bottom: 10px
}

.phone_apex .phone_username {
	font-size: 14px;
	color: #333;
	font-family: simsun
}

.phone_apex .phone_setting a {
	color: #3da3e3
}

.phone_apex .phone_setting a:hover {
	color: #f60
}

.phone_apex .phone_setting .phone_loginout {
	float: right;
	color: #3DA3E3;
	cursor: ponter
}

.phone_apex .phone_user_list {
	padding: 10px 0 5px;
	zoom: 1
}

.phone_apex .phone_user_list li {
	height: 24px;
	line-height: 24px;
	#background: 0 0;
	float: none;
	padding: 0;
	overflow: hidden
}

.phone_apex .phone_user_list li a {
	display: block
}

.phone_apex .phone_user_list i {
	#background:
		url(../base/assets/css/../images/phone_universal.png?__UED__1427680997718)
		no-repeat 0 -378px;
	float: left;
	display: inline
}

.phone_apex .phone_user_list .icon_gift {
	width: 16px;
	height: 16px;
	margin: 3px 5px 0 0
}

.phone_login {
	font-size: 0;
	height: 32px;
	overflow: hidden
}

.phone_login a {
	margin-left: 10px;
	font-size: 12px
}

.phone_login .m_stress {
	color: #f60
}

.phone_sitemap {
	_width: 78px
}

.phone_userlogin {
	_width: auto;
	float: left
}

.phone_userlogin span {
	line-height: 39px;
	width: 70px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center
}

.phone_sitemap a {
	display: block;
	white-space: nowrap;
	width: 60px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis
}

.phone_site {
	position: relative;
	left: -10px
}

.phone_menu li {
	height: 38px
}

.phone_menu .load {
	height: 38px;
	line-height: 38px;
	_line-height: 39px;
	overflow: hidden;
	color: #555
}

.phone_menu li a {
	display: block;
	_float: left;
	_height: 38px;
	_line-height: 39px;
	_overflow: hidden
}

.phone_menu li .ico_flash {
	margin-right: 4px
}

.phone_sitemap .phone_icon_dropdown,.phone_menu li.phone_menu_cur .phone_icon_dropdown
	{
	width: 7px;
	margin-left: 5px
}

.phone_sitemap .phone_icon_list,.phone_menu li.phone_menu_cur .phone_icon_list
	{
	margin-right: 5px
}

.phone_menu li .ico_desktop {
	width: 14px;
	height: 13px;
	margin: 12px 5px 0 0
}

.phone_menu .phone_login a {
	float: left
}

.phone_game_qrcode {
	padding-top: 3px;
	_padding-top: 13px
}

#j-user-menu {
	display: none
}

.cn_fixedmenu {
	position: fixed;
	width: 50px;
	z-index: 333;
	overflow: hidden;
	bottom: 200px;
	left: 50%;
	margin: 0 0 0 500px
}

.cn_fixedmenu a {
	#background: #fbfbfb;
	width: 48px;
	height: 48px;
	display: block;
	border: #ddd 1px solid;
	margin-top: 10px
}

.cn_fixedmenu a span {
	padding: 6px 12px 0;
	line-height: 18px;
	color: #fff;
	font-size: 12px;
	display: none;
	text-align: center
}

.cn_fixedmenu a:hover {
	#background: #f60;
	border-color: #d24400;
	text-decoration: none
}

.cn_fixedmenu a:hover span {
	display: block;
	text-decoration: none
}

.cn_fixedmenu a:hover .icon {
	display: none
}

.cn_fixedmenu .icon {
	#background:
		url(../base/assets/css/../images/phone_fixedmenu.png?__UED__1427680997718)
		no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	margin: 12px auto 0
}

.cn_fixedmenu .backtop {
	display: none
}

.cn_fixedmenu .feedback .icon {
	#background:-position: 0 -78px
}

.cn_fixedmenu .post .icon {
	#background:-position: 0 -26px
}

.cn_fixedmenu .fav .icon {
	#background:-position: 0 -52px
}

.cn_fixedmenu .fav span,.cn_fixedmenu .post span {
	line-height: 48px;
	padding: 0
}

.cn_fixedmenu .m_pingce .icon {
	#background:-position: 0 -104px
}

.cn_fixedmenu .m_zhuanqu .icon {
	#background:-position: 0 -131px
}

.cn_fixedmenu .xyzx .icon {
	#background:-position: 0 -104px
}

.cn_fixedmenu .xykc .icon {
	#background:-position: 0 -131px
}

.tb_downyxh {
	font-weight: bold;
	#background:
		url(http://f1.img4399.com/ma~241_20150721095143_55ada5af90121.gif)
		no-repeat left center;
	padding: 12px 0 10px 17px;
	color: #f60;
	margin-left: 0
}

.tb_downyxh a {
	color: #f60
}

.phone_lianmeng {
	position: absolute;
	right: 136px;
	top: 65px
}
/* /root/assets/css/appAndroid.v3.min.css */
html {
	#background: #fff;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	padding: 0;
	margin: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

body,button,input,select,textarea {
	font: 500 14px/1.8 'Hiragino Sans GB', sans-serif
}

input,select,img {
	vertical-align: middle
}

input,select {
	outline: 0
}

input,select,textarea {
	font-size: 100%
}

ul,ol {
	list-style: none
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

address,cite,dfn,em,var {
	font-style: normal
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

fieldset,img {
	border: 0
}

del {
	text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: 500
}

iframe {
	display: block
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

caption,th {
	text-align: left
}

th {
	text-align: inherit
}

.clearfix:after {
	content: "";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both
}

.clearfix {
	zoom: 1
}

.fl,.fr {
	display: inline
}

.fl {
	float: right
}

.fr {
	float: left
}

ins,a {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary
	{
	display: block
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.wrapper {
	margin: 0 auto;
	text-align: left;
	width: 1000px
}

body {
	font-family: "microsoft yahei";
	#overflow: hidden
}

.m_wrap {
	width: 980px;
	margin: 0 auto
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.m_header {
	#background:
		url(img/bg.png);
	width: 100%;
	height: 60px;
	#border-bottom: #4fa6d0 1px solid;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999
}

.m_logo {
	float: left;
	margin-top: 15px;
	width: 290px
}

.m_logo img {
	width: 290px;
	height: 38px
}

.m_nav {
	float: right
}

.m_nav li {
	float: right;
	display: inline;
	font-size: 16px;
	margin-left: 30px;
	height: 60px;
	overflow: hidden
}

.m_nav li a {
	height: 57px;
	line-height: 57px;
	color: #fff;
	float: left;
	*display: inline;
	padding: 0 14px
}

.m_nav li a:hover,.m_nav .cur a {
	height: 57px;
	border-bottom: #fff 3px solid;
	text-decoration: none
}

.ico,.m_btnarea .btn,.m_stage5 .m_btnarea i {
	#background:
		url(img/bg.png)
		no-repeat
}

.m_title {
	#background:
		url(img/bg.png)
		no-repeat
}

.m_title p {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px
}

.m_title span {
	margin-left: 20px
}

.m_btnarea .downbtn,.m_btnarea .btn {
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	padding: 13px 0;
	text-align: center
}

.m_btnarea .downbtn:hover,.m_btnarea .btn:hover {
	text-decoration: none
}

.i_s {
	#background:-position: 0 -140px;
	height: 90px;
	width: 235px;
	left: 37px;
	bottom: 18px
}

.i_b1 {
	#background:-position: -364px -130px;
	height: 20px;
	width: 59px;
	left: 13%;
	top: 260px;
	margin-left: -20px
}

.i_b2 {
	#background:-position: -368px -204px;
	height: 14px;
	width: 54px;
	right: 35px;
	top: 0
}

.i_b3 {
	#background:-position: -364px -170px;
	height: 16px;
	width: 48px;
	right: 10px;
	top: 380px
}

.i_y1,.i_y4 {
	#background:-position: -247px -196px;
	height: 31px;
	width: 88px
}

.i_y1 {
	left: 50%;
	margin-left: -84px;
	top: 2%
}

.i_y2 {
	#background:-position: -92px -249px;
	height: 21px;
	width: 57px;
	left: 11%;
	top: 90px
}

.i_y3 {
	#background:-position: 0 -242px;
	height: 27px;
	width: 80px;
	left: 14%;
	top: 105px
}

.i_y4 {
	right: 18%;
	top: 90px
}

.i_c1,.i_c2 {
	z-index: 10
}

.i_c1 {
	#background:-position: -238px -128px;
	height: 58px;
	width: 64px;
	left: 38%;
	bottom: 30px
}

.i_c2 {
	#background:-position: -311px -130px;
	height: 38px;
	width: 42px;
	left: 70%;
	bottom: 40px
}

.m_stages {
	position: relative;
	*zoom: 1;
	#overflow: hidden
}

.m_stagelist {
	width: 100%;
	height: 100%
}

.m_stagelist li {
	width: 100%;
	height: 100%;
	position: relative;
	*zoom: 1;
	vertical-align: top
}

.m_stagelist .stagec {
	width: 980px;
	margin: 0 auto;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -490px
}

.stagec .in {
	position: relative;
	*zoom: 1
}

a i {
	cursor: pointer
}

.m_stage1 {
	#background:
		url(img/bg.png)
		repeat-x 0 top #7fdee6
}

.m_stage1 .ico,.stagec .ico {
	position: absolute
}

.bg_sea {
	#background:
		url(img/bg.png)
		repeat-x;
	height: 42px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0
}

.m_stage1 .stagec {
	height: 572px;
	margin-top: -286px
}

.m_stage1 .stagec .in {
	_z-index: 10
}

.m_stage1 .m_con {
	width: 583px;
	padding-top: 75px
}

.m_stage1 .m_title {
	#background:-position: 0 0;
	width: 340px;
	padding: 27px 0 0 108px
}

.m_stage1 .infos {
	margin-top: 40px;
	padding-left: 140px;
	position: relative;
	zoom: 1
}

.m_stage1 .infos .chat {
	#background: #fff;
	padding: 6px;
	position: absolute;
	left: 0;
	top: 1px
}

.m_stage1 .infos .chat img {
	width: 106px;
	height: 106px;
	display: block
}

.tip {
	color: #006f98;
	font-size: 14px;
	line-height: 25px;
	height: 25px
}

.tip .label,.tip1 {
	color: #ffec6c
}

.m_stage1 .m_btnarea .downbtn {
	border-right: 1px solid #53acc3;
	border-bottom: 1px solid #53acc3;
	float: left;
	*display: inline;
	width: 175px
}

.m_stage1 .m_btnarea .a_downbtn {
	#background:-color: #46d400;
	margin-right: 10px
}

.m_stage1 .m_btnarea .i_downbtn {
	#background:-color: #0bbdff
}

.m_stage1 .m_btnarea .video_btn {
	#background:-position: -478px -114px;
	#background:-color: #1cb3cf;
	display: inline-block;
	padding: 11px 25px 9px 55px
}

.smsbox {
	#overflow: hidden
}

.sms_success {
	color: #f2ff1c
}

.sms_error {
	color: #ff5151
}

.smsinput {
	#background: #fff;
	border: #56afc4 1px solid;
	border-right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	float: left;
	width: 149px;
	height: 24px;
	padding: 6px 10px;
	overflow: hidden
}

.smsinput input {
	width: 100%;
	color: #aaa;
	height: 24px;
	display: block;
	line-height: 24px;
	border: 0;
	font-size: 12px
}

.smscaptcha {
	#background: #fff;
	border: #56afc4 1px solid;
	border-left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 290px;
	height: 36px;
	overflow: hidden;
	float: left
}

.smscaptcha .mbtn {
	#background: #f1eded;
	border-left: 1px solid #cacfce;
	color: #333;
	width: 100px;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	padding: 0 15px;
	float: right;
	text-align: center;
	cursor: pointer
}

.smscaptcha .m_dx_btn_active {
	#background: #65c31d;
	cursor: pointer
}

.smscaptcha .m_dx_btn_active:hover {
	#background: #72cf2a
}

.smscaptcha .yzm {
	border: 0;
	border-left: 1px solid #cacfce;
	color: #aaa;
	font-size: 12px;
	float: left;
	display: inline;
	width: 60px;
	height: 24px;
	line-height: 24px;
	padding: 6px 0 6px 10px
}

.captchaimg {
	float: left;
	margin-top: 4px;
	width: 82px;
	height: 28px
}

.m_stage1 .phonemodel {
	margin-right: 95px;
	height: 572px;
	width: 302px
}

.m_stage1 .phonemodel .in {
	#background:
		url(img/bg.png)
		no-repeat;
	height: 450px;
	width: 302px;
	padding-top: 210px
}

.m_stage1 .screenbox {
	width: 260px;
	height: 460px;
	margin: 0 0 0 17px;
	position: relative;
	overflow: hidden
}

.m_stage1 .screenlist li {
	width: 260px;
	height: 460px;
	float: left;
	position: relative
}

.m_stage1 .screenlist img {
	width: 260px;
	height: 460px
}

.m_stage2 {
	#background: #48a5d6
}

.m_stage2 .stagec {
	height: 696px;
	margin-top: -348px
}

.m_stage2 .p_bg {
	#background:
		url(img/bg.png);
	height: 531px;
	width: 437px;
	margin: 165px 0 0 50px
}

.m_stage2 .m_title {
	#background:-position: 0 -124px;
	margin-top: 310px;
	width: 420px;
	padding: 75px 10px 0 38px
}

.m_stage2 .i_flash1 {
	#background:-position: 0 0;
	height: 108px;
	width: 524px;
	left: 160px;
	top: 106px
}

.m_stage2 .i_flash2 {
	#background:-position: 0 -298px;
	height: 88px;
	width: 112px;
	left: 80px;
	top: 140px
}

.m_stage2 .i_flash3 {
	#background:-position: -244px -232px;
	height: 38px;
	width: 40px;
	left: 575px;
	top: 216px
}

.m_stage2 .i_flash4,.m_stage2 .i_flash5 {
	#background:-position: -290px -232px;
	height: 20px;
	width: 20px
}

.m_stage2 .i_flash4 {
	left: 504px;
	top: 266px
}

.m_stage2 .i_flash5 {
	right: 245px;
	top: 236px
}

.m_stage2 .i_flash6 {
	#background:-position: -318px -232px;
	height: 14px;
	width: 14px;
	left: 634px;
	top: 242px
}

.i_bub1 {
	#background:-position: -156px -246px;
	height: 26px;
	width: 26px
}

.i_bub2,.i_bub6 {
	#background:-position: -186px -254px;
	height: 18px;
	width: 18px
}

.i_bub3 {
	#background:-position: -208px -262px;
	height: 10px;
	width: 10px
}

.i_bub4,.i_bub5,.i_bub7,.i_bub8 {
	#background:-position: -224px -264px;
	height: 8px;
	width: 8px
}

.m_stage2 .i_bub1 {
	left: 10px;
	top: 304px
}

.m_stage2 .i_bub2 {
	left: 6px;
	top: 442px
}

.m_stage2 .i_bub3 {
	left: 452px;
	top: 574px
}

.m_stage2 .i_bub4 {
	left: 102px;
	top: 274px
}

.m_stage2 .i_bub5 {
	left: 58px;
	top: 434px
}

.m_stage2 .i_bub6 {
	left: 482px;
	top: 480px
}

.m_stage2 .i_bub7 {
	left: 490px;
	top: 516px
}

.m_stage2 .i_bub8 {
	left: 470px;
	top: 626px
}

.m_stage3 {
	#background:
		url(img/bg.png)
		no-repeat right 186px #4f8bc9
}

.m_stage3 .stagec {
	height: 800px;
	margin-top: -400px
}

.m_stage3 .stagec .in {
	height: 465px;
	padding-top: 335px
}

.m_stage3 .m_title {
	#background:-position: right -272px;
	width: 340px;
	padding: 72px 40px 0 0
}

.m_stage3 .m_title p {
	text-align: right
}

.m_stage3 .p_bg {
	#background:
		url(img/bg.png);
	height: 572px;
	width: 302px;
	position: absolute;
	top: 125px;
	right: 135px
}

.i_zy {
	#background:-position: -116px -286px;
	height: 86px;
	width: 90px;
	left: 375px;
	top: 80px
}

.i_zy1 {
	#background:-position: -426px -290px;
	height: 40px;
	width: 96px;
	left: 408px;
	top: 262px
}

.m_stage3 .i_bub2 {
	left: 382px;
	top: 272px
}

.m_stage3 .i_bub3 {
	right: -25px;
	top: 406px
}

.m_stage3 .i_bub4 {
	left: 412px;
	top: 230px
}

.m_stage3 .i_bub5 {
	left: 400px;
	top: 318px
}

.m_stage3 .i_bub6 {
	right: 15px;
	top: 530px
}

.m_stage3 .i_bub7 {
	right: -60px;
	top: 472px
}

.m_stage3 .i_flash1 {
	#background:-position: -364px -230px;
	height: 53px;
	width: 59px;
	right: -22px;
	top: 328px
}

.m_stage3 .i_flash2 {
	#background:-position: -434px -232px;
	height: 47px;
	width: 38px;
	right: 46px;
	top: 300px
}

.m_stage3 .b_1,.m_stage3 .b_2,.m_stage3 .b_3 {
	#background:
		url(img/bg.png)
		no-repeat;
	position: absolute
}

.m_stage3 .b_1 {
	#background:-position: 0 bottom;
	height: 139px;
	width: 350px;
	top: 374px;
	right: 168px
}

.m_stage3 .b_2 {
	#background:-position: 0 -158px;
	height: 141px;
	width: 480px;
	top: 414px;
	right: 98px
}

.m_stage3 .b_3 {
	#background:-position: 0 0;
	height: 155px;
	width: 596px;
	top: 464px;
	right: 32px
}

.m_stage4 {
	#background:
		url(img/bg.png)
		repeat-x center bottom #597fc3
}

.m_stage4 .m_title {
	#background:-position: 0 -414px;
	padding: 72px 0 0 35px
}

.m_stage4 .stagec {
	height: 800px;
	margin-top: -400px
}

.m_stage4 .stagec .in {
	height: 405px;
	padding: 395px 0 0 480px
}

.m_stage4 .p_bg,.m_stage4 .i_r,.m_stage4 .i_f {
	position: absolute
}

.m_stage4 .p_bg {
	#background:
		url(img/bg.png);
	height: 572px;
	width: 434px;
	top: 150px;
	left: 0;
	z-index: 2
}

.m_stage4 .i_r {
	#background:
		url(img/bg.png);
	height: 205px;
	width: 193px;
	top: 244px;
	left: 320px
}

.m_stage4 .i_f {
	#background:
		url(img/bg.png);
	height: 174px;
	width: 166px;
	top: 90px;
	left: 438px
}

.i_qb1 {
	#background:-position: -302px -448px;
	height: 55px;
	width: 34px;
	left: 86px;
	bottom: 120px
}

.i_qb2 {
	#background:-position: 0 -448px;
	height: 44px;
	width: 93px;
	left: 194px;
	bottom: 83px;
	z-index: 3
}

.i_qb3 {
	#background:-position: -350px -448px;
	height: 59px;
	width: 60px;
	left: 291px;
	bottom: 58px
}

.i_qb4 {
	#background:-position: -98px -448px;
	height: 96px;
	width: 130px;
	left: 348px;
	bottom: 64px;
	z-index: 3
}

.i_qb5 {
	#background:-position: -239px -448px;
	height: 53px;
	width: 55px;
	left: 398px;
	bottom: 244px
}

.m_stage5 {
	#background: #4a6ba5
}

.m_stage5 .m_title {
	#background:-position: 0 -582px;
	margin: 0 auto;
	height: 50px;
	width: 468px
}

.m_stage5 .stagec {
	height: 630px;
	margin-top: -315px
}

.m_stage5 .stagec .in {
	height: 420px;
	padding: 80px 0
}

.m_stage5 i {
	position: absolute
}

.m_stage5 .i_1 {
	#background:
		url(img/bg.png);
	height: 163px;
	width: 81px;
	right: 215px;
	top: 245px
}

.m_stage5 .i_2 {
	#background:
		url(img/bg.png);
	height: 160px;
	width: 92px;
	right: 128px;
	top: 254px
}

.m_stage5 .i_3 {
	#background:
		url(img/bg.png);
	height: 325px;
	width: 381px;
	left: 50%;
	margin-left: -190px;
	top: 90px
}

.m_stage5 .i_4 {
	#background:
		url(img/bg.png);
	height: 168px;
	width: 216px;
	left: 162px;
	top: 240px
}

.m_stage5 .m_btnarea {
	width: 888px;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -444px
}

.m_stage5 .m_btnarea li {
	width: 202px;
	height: 80px;
	margin: 0 10px;
	float: left;
	*display: inline
}

.m_stage5 .m_btnarea a {
	border-radius: 3px;
	height: 48px;
	padding: 16px 0;
	display: block;
	text-align: center
}

.m_stage5 .m_btnarea i {
	display: inline-block;
	margin: 0 auto;
	height: 48px;
	position: relative
}

.m_stage5 .a_btn {
	#background:-color: #3bca6d
}

.m_stage5 .i_btn {
	#background:-color: #4bb6e8
}

.m_stage5 .p_btn {
	#background:-color: #f9b32b
}

.m_stage5 .c_btn {
	#background:-color: #fe6767
}

.m_stage5 .a_btn i {
	#background:-position: 0 -390px;
	width: 146px
}

.m_stage5 .i_btn i {
	#background:-position: -152px -390px;
	width: 148px
}

.m_stage5 .p_btn i {
	#background:-position: -308px -390px;
	width: 143px
}

.m_stage5 .c_btn i {
	#background:-position: -210px -286px;
	width: 155px
}

.m_stage5 .a_btn:hover {
	#background:-color: #3fda75
}

.m_stage5 .i_btn:hover {
	#background:-color: #4dc3fa
}

.m_stage5 .p_btn:hover {
	#background:-color: #f3aa1d
}

.m_stage5 .c_btn:hover {
	#background:-color: #fc7777
}

.m_stage5 .codepop {
	#background:
		url(img/bg.png)
		no-repeat;
	width: 166px;
	height: 173px;
	padding-bottom: 2px;
	position: absolute;
	left: 16px;
	bottom: 82px;
	overflow: hidden;
	display: none
}

.m_stage5 .codepop img {
	width: 132px;
	height: 132px;
	display: block;
	margin: 16px auto 0
}

.m_stage6 {
	
}

.m_cwrap {
	width: 980px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden
}

.m_comment {
	position: absolute;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll
}

.app_comment {
	padding-top: 61px;
	padding-bottom: 15px
}

.app_flink_box {
	overflow: hidden;
	zoom: 1;
	position: absolute;
	height: 120px;
	width: 100%
}

.app_flink_box .cn_hd {
	height: 38px;
	line-height: 38px;
	border-bottom: #DDD 2px solid;
	position: relative
}

.app_flink_box .cn_hd .title {
	height: 38px;
	line-height: 38px;
	_line-height: 42px;
	float: left;
	font-family: "microsoft yahei";
	font-size: 18px;
	font-weight: 500;
	color: #333;
	border-bottom: #F60 2px solid;
	overflow: hidden;
	_position: absolute
}

.app_flink_box .cn_hd .icon {
	#background:
		url(img/bg.png)
		no-repeat 0 -280px;
	width: 24px;
	height: 24px;
	float: left;
	margin: 7px 9px 0 0
}

.app_flink_box .cn_bd {
	overflow: hidden;
	zoom: 1
}

.m_linklist {
	padding: 10px 0;
	zoom: 1
}

.m_linklist a {
	color: #666;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	float: left;
	padding-right: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap
}

.m_linklist a:hover {
	color: #f60
}

.phone_footer {
	position: relative;
	top: -193px
}

.m_fixnav {
	z-index: 999;
	overflow: hidden;
	position: absolute;
	top: 280px;
	left: 50%;
	margin-left: 510px;
	width: 110px
}

.m_fixnav a {
	#background:
		url(img/bg.png)
		no-repeat;
	color: #fff;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 10px 0 8px 50px;
	overflow: hidden
}

.m_fixnav a:hover {
	text-decoration: none
}

.m_fixnav .a1 {
	#background:-position: 0 0
}

.m_fixnav .cur .a1,.m_fixnav .a1:hover {
	#background:-position: 0 -372px
}

.m_fixnav .a2 {
	#background:-position: 0 -62px
}

.m_fixnav .cur .a2,.m_fixnav .a2:hover {
	#background:-position: 0 -434px
}

.m_fixnav .a3 {
	#background:-position: 0 -124px
}

.m_fixnav .cur .a3,.m_fixnav .a3:hover {
	#background:-position: 0 -496px
}

.m_fixnav .a4 {
	#background:-position: 0 -186px
}

.m_fixnav .cur .a4,.m_fixnav .a4:hover {
	#background:-position: 0 -558px
}

.m_fixnav .a5 {
	#background:-position: 0 -248px
}

.m_fixnav .cur .a5,.m_fixnav .a5:hover {
	#background:-position: 0 -620px
}

.m_fixnav .a6 {
	#background:-position: 0 -310px
}

.m_fixnav .cur .a6,.m_fixnav .a6:hover {
	#background:-position: 0 -682px
}

.m_fixnav .line {
	#background: #22aacb;
	margin-left: 20px;
	width: 1px;
	height: 20px;
	line-height: 0;
	overflow: hidden
}

.m_fixnav .cur a {
	_height: 25px
}

.m_fixnav_f a {
	color: #27a4c5
}

.m_fixnav_f a:hover,.m_fixnav_f .cur a {
	color: #00d7f7
}

.m_fixnav_min {
	display: none
}

.c_stagefluid {
	height: auto;
	overflow-y: auto
}

.c_stagefluid .m_stagelist .m_stage {
	height: auto
}

.c_stagefluid .m_stagelist .stagec {
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0
}

.c_stagefluid .m_stagelist {
	padding-top: 61px
}

.c_stagefluid .m_stage1 .bg_sea {
	bottom: -1px
}

.c_stagefluid .m_stage1 .i_y2 {
	top: 45px
}

.c_stagefluid .m_stage1 .i_y3 {
	top: 65px
}

.c_stagefluid .m_stage1 .i_b1 {
	left: 80px;
	top: 100px
}

.c_stagefluid .m_stage1 .i_c1 {
	bottom: 41px
}

.c_stagefluid .m_stage1 .i_c2 {
	bottom: 30px;
	left: 75%
}

.c_stagefluid .m_stage1,.c_stagefluid .m_stage5 {
	padding: 80px 0
}

.c_stagefluid .m_stage2 {
	padding-bottom: 80px
}

.c_stagefluid .m_stage3 .i_flash1 {
	right: 5px;
	top: 342px
}

.c_stagefluid .m_comment {
	position: static;
	min-height: 600px;
	height: auto;
	_height: 600px;
	overflow: auto
}

.c_stagefluid .app_comment {
	padding: 10px 0
}

.c_stagefluid .app_flink_box {
	position: static
}

.c_stagefluid .phone_footer {
	top: 0
}

.ui-dialog {
	outline: 0
}

.dialogbody {
	#background:
		url(img/bg.png)
		no-repeat;
	height: 310px;
	width: 576px;
	padding: 20px 0 0 52px
}

.m_dialog {
	position: relative;
	*zoom: 1
}

.m_dialog .warnbox-video {
	#background:
		url(img/bg.png);
	cursor: pointer;
	height: 280px;
	width: 500px;
	overflow: hidden;
	position: relative
}

.m_dialog .warnbox-video video {
	width: 100%
}

.m_dialog .close {
	cursor: pointer;
	height: 42px;
	width: 42px;
	position: absolute;
	right: -35px;
	top: -25px
}

.m_dialog .close .in {
	#background:
		url(img/bg.png)
		no-repeat;
	height: 42px;
	width: 42px
}

.close {
	-webkit-transition: -webkit-transform .4s ease-out;
	-moz-transition: -moz-transform .4s ease-out;
	transition: transform .4s ease-out
}

.close:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg)
}

.m_nav .downbtn {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	padding: 5px 8px
}

.m_nav li.sec {
	padding: 0
}

.m_nav .m_btnarea {
	display: none;
	height: 40px;
	overflow: hidden;
	margin-top: 10px
}

.m_nav .a_downbtn {
	#background:-color: #46d400;
	margin-right: 10px
}

.m_nav .i_downbtn {
	#background:-color: #0bbdff
}

.m_nav .a_downbtn:hover {
	#background:-color: #44c405
}

.m_nav .i_downbtn:hover {
	#background:-color: #09b3f2
}

.m_nav_sec {
	width: 682px
}

.m_nav_sec li {
	margin-left: 15px
}

.m_nav_sec li a {
	padding: 0 11px
}

.m_nav_sec .m_btnarea {
	display: block
}

.i_chat {
	#background:
		url(../root/assets/images/app/android/v3/i_chat.jpg?__UED__1436923884446)
		no-repeat;
	height: 25px;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -13px
}

.newtitle {
	background:
		url(img/toolslogo.png)
		no-repeat;
	height: 60px
}
.bbstitle {
	background:
		url(img/00.png)
		no-repeat;
	height: 60px
}
.mctitle {
	background:
		url(img/mclogo.png)
		no-repeat;
	height: 60px
}
.newtitle p {
	margin-top: 20px
}

.m_stage1 .infos .chat {
	position: absolute;
	width: 142px;
	height: 142px;
	top: 0;
	left: 300px;
	padding: 9px
}

.m_stage1 .infos {
	padding: 0
}

.m_stage1 .m_btnarea .downbtn {
	#background:
		url(img/01.png)
		no-repeat 21px -140px #0a9200;
	display: block;
	float: none;
	width: 189px;
	height: 46px;
	#padding: 0 0 0 86px
}

.m_stage1 .m_btnarea .a_downbtn {
	margin-bottom: 10px
}

.m_stage1 .m_btnarea .i_downbtn {
	#background:-position: 21px -226px;
	#background:-color: #0086b8
}

.m_stage1 .m_btnarea .downbtn .text {
	display: block;
	height: 74px;
	padding-left: 80px;
	border-left: 1px solid #098000;
	font-size: 16px
}

.m_stage1 .m_btnarea .i_downbtn .text {
	border-left: 1px solid #0076a2
}

.m_stage1 .m_btnarea .downbtn .text span {
	display: block;
	text-align: left
}

.m_stage1 .m_btnarea .downbtn .text .big {
	padding-top: 9px;
	font-size: 26px
}

.m_stage1 .infos .chat img {
	width: 142px;
	height: 142px
}

.newbtn {
	width: 295px;
	margin-bottom: 40px
}

.m_stage1 .m_con {
	padding-top: 95px
}

.tip .label {
	color: #ff5656
}

.smsbox {
	margin: 5px 0
}

.m_stage2 .video_btn {
	position: absolute;
	left: 550px;
	top: 465px
}

.m_stage2 .video_btn a {
	#background:
		url(../root/assets/images/app/android/v3/sprites_gai.png?__UED__1436923884446)
		no-repeat 20px -303px #f3a136;
	width: 87px;
	height: 48px;
	padding-left: 50px;
	border-radius: 3px;
	line-height: 48px;
	text-align: left;
	font-size: 16px;
	color: #fff
}

.m_stage2 .video_btn a:hover {
	text-decoration: none
}

.m_btnarea a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%
}

.m_btnarea a:hover,.m_btnarea a:focus,.m_btnarea a:active {
	-webkit-animation-name: hvr-wobble-top;
	animation-name: hvr-wobble-top;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1
}

.css3spt .stagec2 .m_title {
	-webkit-animation: 2s text;
	-moz-animation: 2s text;
	-ms-animation: 2s text
}

.css3spt .stagec2 .video_btn {
	-webkit-animation: 2.5s text;
	-moz-animation: 2.5s text;
	-ms-animation: 2.5s text
}

.css3spt .stagec2 .p_bg {
	-webkit-animation: phone4 2s ease-out;
	-moz-animation: phone4 2s ease-out;
	-ms-animation: phone4 2s ease-out
}

.css3spt .stagec2 .i_flash2 {
	-webkit-animation: slogan4 1s ease-out, f1 2s 1s forwards linear;
	-moz-animation: f1 2.5s forwards linear
}

@
-webkit-keyframes f1 { 0%{
	left: 80px
}

100%{
left
:
40px;-webkit-transform
:scale
(0
.8
)
}
}
@
-webkit-keyframes f1 { 0%{
	left: 80px
}

100%{
left
:
40px;-webkit-transform
:scale
(0
.8
)
}
}
@
-moz-keyframes f1 { 0%{
	left: 80px
}

100%{
left
:
40px;-moz-transform
:scale
(0
.8
)
}
}
@
-ms-keyframes f1 { 0%{
	left: 80px
}

100%{
left
:
40px;-ms-transform
:scale
(0
.8
)
}
}
.css3spt .stagec3 .i_zy {
	-webkit-animation: f2 2.5s forwards linear
}

@
-webkit-keyframes f2 { 0%{
	top: 80px
}

100%{
top
:
110px
}
}
@
-webkit-keyframes f3 { 0%{
	-webkit-transform: scale(1)
}

50%{
-webkit-transform
:scale
(0
.8
)
}
100%{
-webkit-transform
:scale(1)
}
}
.css3spt .stagec3 .p_bg {
	-webkit-animation: phone4 1.2s ease-out;
	-moz-animation: phone4 1.2s ease-out;
	-ms-animation: phone4 1.2s ease-out
}

.css3spt .stagec3 .m_title,.css3spt .stagec4 .m_title {
	-webkit-animation: 2.5s text;
	-moz-animation: 2.5s text;
	-ms-animation: 2.5s text
}

.css3spt .stagec2 .i_flash3,.css3spt .stagec3 .b_1,.css3spt .stagec3 .i_flash2,.css3spt .stagec4 .i_qb2
	{
	-webkit-animation: slogan4 1.4s ease-out;
	-moz-animation: slogan4 1.4s ease-out;
	-ms-animation: slogan4 1.4s ease-out
}

.css3spt .stagec2 .i_flash6,.css3spt .stagec3 .b_2,.css3spt .stagec3 .i_flash1,.css3spt .stagec4 .i_qb3
	{
	-webkit-animation: slogan4 1.8s ease-out;
	-moz-animation: slogan4 1.8s ease-out;
	-ms-animation: slogan4 1.8s ease-out
}

.css3spt .stagec2 .i_flash5,.css3spt .stagec3 .b_3,.css3spt .stagec4 .i_qb4
	{
	-webkit-animation: slogan4 2.2s ease-out;
	-moz-animation: slogan4 2.2s ease-out;
	-ms-animation: slogan4 2.2s ease-out
}

.css3spt .stagec4 .p_bg {
	-webkit-animation: phone4 2.5s ease-out;
	-moz-animation: phone4 2.5s ease-out;
	-ms-animation: phone4 2.5s ease-out
}

.css3spt .stagec2 .i_flash4,.css3spt .stagec4 .i_qb1 {
	-webkit-animation: slogan4 1.2s ease-out;
	-moz-animation: slogan4 1.2s ease-out;
	-ms-animation: slogan4 1.2s ease-out
}

.css3spt .stagec4 .i_qb5 {
	-webkit-animation: slogan4 2.5s ease-out;
	-moz-animation: slogan4 2.5s ease-out;
	-ms-animation: slogan4 2.5s ease-out
}

.css3spt .stagec4 .i_r {
	-webkit-animation: slogan4 3s ease-out;
	-moz-animation: slogan4 3s ease-out;
	-ms-animation: slogan4 3s ease-out
}

.css3spt .stagec4 .i_f {
	-webkit-animation: slogan4 3.5s ease-out;
	-moz-animation: slogan4 3.5s ease-out;
	-ms-animation: slogan4 3.5s ease-out
}

.css3spt .stagec5 .m_title {
	-webkit-animation: bounceIn 2s;
	-moz-animation: bounceIn 2s;
	-ms-animation: bounceIn 2s
}

.css3spt .stagec5 .in {
	-webkit-animation: phone4 1.2s ease-out;
	-moz-animation: phone4 1.2s ease-out;
	-ms-animation: phone4 1.2s ease-out
}

.css3spt .stagec5 .i_4 {
	-webkit-animation: screenl2 1.4s ease-out;
	-moz-animation: screenl2 1.4s ease-out;
	-ms-animation: screenl2 1.4s ease-out
}

.css3spt .stagec5 .i_2 {
	-webkit-animation: screenr1 1.8s ease-out;
	-moz-animation: screenr1 1.8s ease-out;
	-ms-animation: screenr1 1.8s ease-out
}

.css3spt .stagec5 .i_1 {
	-webkit-animation: screenr2 1.4s ease-out;
	-moz-animation: screenr2 1.4s ease-out;
	-ms-animation: screenr2 1.4s ease-out
}

.css3spt .stagec5 .m_btnarea {
	-webkit-animation: 2s bounce;
	-moz-animation: 2s bounce;
	-ms-animation: 2s bounce;
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-ms-transform-origin: center bottom
}

@
-webkit-keyframes bounce { 0%,20%,53%,80%,100%{
	-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
	-webkit-transform: translate3d(0, 0, 0)
}

40%,43%{
-webkit-transition-timing-function
:cubic-bezier
(0
.755
,
.05
,
.855
,
.06
);-webkit-transform
:translate3d
(0
,
-30
px
,
0)
}
70%{
-webkit-transition-timing-function
:cubic-bezier
(0
.755
,
.05
,
.855
,
.06
);-webkit-transform
:translate3d
(0
,
-15
px
,
0)
}
90%{
-webkit-transform
:translate3d
(0
,
-4
px
,
0)
}
}
@
-webkit-keyframes bounceIn { 0%,20%,40%,60%,80%,100%{
	-webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
}

0%{
opacity
:
0;-webkit-transform
:scale3d
(0
.3
,
.3
,
.3
)
}
20%{
-webkit-transform
:scale3d
(1
.1
,
1
.1
,
1
.1
)
}
40%{
-webkit-transform
:scale3d
(0
.9
,
.9
,
.9
)
}
60%{
opacity
:
1;-webkit-transform
:scale3d
(1
.03
,
1
.03
,
1
.03
)
}
80%{
-webkit-transform
:scale3d
(0
.97
,
.97
,
.97
)
}
100%{
opacity
:
1;-webkit-transform
:scale3d
(1
,
1,1)
}
}
@
-webkit-keyframes text { 0%{
	opacity: 0
}

60%{
-webkit-transform
:translateX(20px)
;opacity
:
0
}
}
@
-webkit-keyframes phone4 { 0%{
	-webkit-transform: translateY(-70px);
	opacity: 0
}

70%{
-webkit-transform
:translateY(-70px)
;opacity
:
0
}
90%{
-webkit-transform
:translateY(0)
;opacity
:
1
}
95%{
-webkit-transform
:translateY(-3px)
}
100%{
-webkit-transform
:translateY(0)
}
}
@
-webkit-keyframes screenl2 { 0%{
	-webkit-transform: translateX(132px);
	opacity: 0
}

70%{
-webkit-transform
:translateX(132px)
;opacity
:
0
}
}
@
-webkit-keyframes screenr1 { 0%{
	-webkit-transform: translateX(-214px);
	opacity: 0
}

72%{
-webkit-transform
:translateX(-214px)
;opacity
:
0
}
}
@
-webkit-keyframes screenr2 { 0%{
	-webkit-transform: translateX(-132px);
	opacity: 0
}

70%{
-webkit-transform
:translateX(-132px)
;opacity
:
0
}
}
@
-webkit-keyframes flipInX { 0%{
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	-webkit-transition-timing-function: ease-in;
	opacity: 0
}

40%{
-webkit-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,-20
deg
);-webkit-transition-timing-function
:ease-in
}
60%{
-webkit-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,10
deg
);opacity
:
1
}
80%{
-webkit-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,-5
deg
)
}
100%{
-webkit-transform
:perspective(400px)
}
}
@
-webkit-keyframes slogan4 { 0%{
	-webkit-transform: translateY(20px);
	opacity: 0
}

65%{
-webkit-transform
:translateY(20px)
;opacity
:
0
}
}
@
-webkit-keyframes hvr-wobble-top { 16.65%{
	-webkit-transform: skew(-12deg)
}

33
.3 %{
	-webkit-transform: skew(10deg)
}

49
.95 %{
	-webkit-transform: skew(-6deg)
}

66
.6 %{
	-webkit-transform: skew(4deg)
}

83
.25 %{
	-webkit-transform: skew(-2deg)
}

100%{
-webkit-transform
:skew(0)
}
}
@
-moz-keyframes bounce { 0%,20%,53%,80%,100%{
	-moz-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
	-moz-transform: translate3d(0, 0, 0)
}

40%,43%{
-moz-transition-timing-function
:cubic-bezier
(0
.755
,
.05
,
.855
,
.06
);-moz-transform
:translate3d
(0
,
-30
px
,
0)
}
70%{
-moz-transition-timing-function
:cubic-bezier
(0
.755
,
.05
,
.855
,
.06
);-moz-transform
:translate3d
(0
,
-15
px
,
0)
}
90%{
-moz-transform
:translate3d
(0
,
-4
px
,
0)
}
}
@
-moz-keyframes bounceIn { 0%,20%,40%,60%,80%,100%{
	-moz-transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
}

0%{
opacity
:
0;-moz-transform
:scale3d
(0
.3
,
.3
,
.3
)
}
20%{
-moz-transform
:scale3d
(1
.1
,
1
.1
,
1
.1
)
}
40%{
-moz-transform
:scale3d
(0
.9
,
.9
,
.9
)
}
60%{
opacity
:
1;-moz-transform
:scale3d
(1
.03
,
1
.03
,
1
.03
)
}
80%{
-moz-transform
:scale3d
(0
.97
,
.97
,
.97
)
}
100%{
opacity
:
1;-moz-transform
:scale3d
(1
,
1,1)
}
}
@
-moz-keyframes text { 0%{
	opacity: 0
}

60%{
-moz-transform
:translateX(20px)
;opacity
:
0
}
}
@
-moz-keyframes phone4 { 0%{
	-moz-transform: translateY(-70px);
	opacity: 0
}

70%{
-moz-transform
:translateY(-70px)
;opacity
:
0
}
90%{
-moz-transform
:translateY(0)
;opacity
:
1
}
95%{
-moz-transform
:translateY(-3px)
}
100%{
-moz-transform
:translateY(0)
}
}
@
-moz-keyframes screenl2 { 0%{
	-moz-transform: translateX(132px);
	opacity: 0
}

70%{
-moz-transform
:translateX(132px)
;opacity
:
0
}
}
@
-moz-keyframes screenr1 { 0%{
	-moz-transform: translateX(-214px);
	opacity: 0
}

72%{
-moz-transform
:translateX(-214px)
;opacity
:
0
}
}
@
-moz-keyframes screenr2 { 0%{
	-moz-transform: translateX(-132px);
	opacity: 0
}

70%{
-moz-transform
:translateX(-132px)
;opacity
:
0
}
}
@
-moz-keyframes flipInX { 0%{
	-moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	-moz-transition-timing-function: ease-in;
	opacity: 0
}

40%{
-moz-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,-20
deg
);-moz-transition-timing-function
:ease-in
}
60%{
-moz-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,10
deg
);opacity
:
1
}
80%{
-moz-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,-5
deg
)
}
100%{
-moz-transform
:perspective(400px)
}
}
@
-moz-keyframes slogan4 { 0%{
	-moz-transform: translateY(20px);
	opacity: 0
}

65%{
-moz-transform
:translateY(20px)
;opacity
:
0
}
}
@
-moz-keyframes hvr-wobble-top { 16.65%{
	-moz-transform: skew(-12deg)
}

33
.3 %{
	-moz-transform: skew(10deg)
}

49
.95 %{
	-moz-transform: skew(-6deg)
}

66
.6 %{
	-moz-transform: skew(4deg)
}

83
.25 %{
	-moz-transform: skew(-2deg)
}

100%{
-moz-transform
:skew(0)
}
}
@
-ms-keyframes bounce { 0%,20%,53%,80%,100%{
	-ms-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
	-ms-transform: translate3d(0, 0, 0)
}

40%,43%{
-ms-transition-timing-function
:cubic-bezier
(0
.755
,
.05
,
.855
,
.06
);-ms-transform
:translate3d
(0
,
-30
px
,
0)
}
70%{
-ms-transition-timing-function
:cubic-bezier
(0
.755
,
.05
,
.855
,
.06
);-ms-transform
:translate3d
(0
,
-15
px
,
0)
}
90%{
-ms-transform
:translate3d
(0
,
-4
px
,
0)
}
}
@
-ms-keyframes bounceIn { 0%,20%,40%,60%,80%,100%{
	-ms-transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
}

0%{
opacity
:
0;-ms-transform
:scale3d
(0
.3
,
.3
,
.3
)
}
20%{
-ms-transform
:scale3d
(1
.1
,
1
.1
,
1
.1
)
}
40%{
-ms-transform
:scale3d
(0
.9
,
.9
,
.9
)
}
60%{
opacity
:
1;-ms-transform
:scale3d
(1
.03
,
1
.03
,
1
.03
)
}
80%{
-ms-transform
:scale3d
(0
.97
,
.97
,
.97
)
}
100%{
opacity
:
1;-ms-transform
:scale3d
(1
,
1,1)
}
}
@
-ms-keyframes text { 0%{
	opacity: 0
}

60%{
-ms-transform
:translateX(20px)
;opacity
:
0
}
}
@
-ms-keyframes phone4 { 0%{
	-ms-transform: translateY(-70px);
	opacity: 0
}

70%{
-ms-transform
:translateY(-70px)
;opacity
:
0
}
90%{
-ms-transform
:translateY(0)
;opacity
:
1
}
95%{
-ms-transform
:translateY(-3px)
}
100%{
-ms-transform
:translateY(0)
}
}
@
-ms-keyframes screenl2 { 0%{
	-ms-transform: translateX(132px);
	opacity: 0
}

70%{
-ms-transform
:translateX(132px)
;opacity
:
0
}
}
@
-ms-keyframes screenr1 { 0%{
	-ms-transform: translateX(-214px);
	opacity: 0
}

72%{
-ms-transform
:translateX(-214px)
;opacity
:
0
}
}
@
-ms-keyframes screenr2 { 0%{
	-ms-transform: translateX(-132px);
	opacity: 0
}

70%{
-ms-transform
:translateX(-132px)
;opacity
:
0
}
}
@
-ms-keyframes flipInX { 0%{
	-ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	-ms-transition-timing-function: ease-in;
	opacity: 0
}

40%{
-ms-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,-20
deg
);-ms-transition-timing-function
:ease-in
}
60%{
-ms-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,10
deg
);opacity
:
1
}
80%{
-ms-transform
:perspective(400px)
 
rotate3d
(1
,
0,0,-5
deg
)
}
100%{
-ms-transform
:perspective(400px)
}
}
@
-ms-keyframes slogan4 { 0%{
	-ms-transform: translateY(20px);
	opacity: 0
}

65%{
-ms-transform
:translateY(20px)
;opacity
:
0
}
}
@
-ms-keyframes hvr-wobble-top { 16.65%{
	-ms-transform: skew(-12deg)
}

33
.3 %{
	-ms-transform: skew(10deg)
}

49
.95 %{
	-ms-transform: skew(-6deg)
}

66
.6 %{
	-ms-transform: skew(4deg)
}

83
.25 %{
	-ms-transform: skew(-2deg)
}

100%{
-ms-transform
:skew(0)
}
}
.m_stage {
	overflow: hidden;
	_height: 0;
	position: relative
}