/*

    本网页由@陈宏洲
    若要借鉴，请联系本人得到许可
    2915537708@qq.com

 */
a{
    text-decoration: none;
}
body{
    font-size: 12px;
    font-family: cn;
    overflow:hidden;
    background: #fff;
}
    video{
        position: absolute;
        left: 0;
        width: 150%;
        height: 150%;
        opacity: .5;
        z-index: -1;
        margin-top: -200px;
        margin-left: -220px;
    }

.bg{
    position: absolute;
    left: 160px;
    top: 160px;
    width: 80%;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #000;
    opacity: .7;
    z-index: 55;
}
.con{
    position: absolute;
    left: 160px;
    top: 160px;
    width: 80%;
    border-radius: 5px;
    z-index: 9999;
    text-align: center;
}
        .con .w img{
            position: absolute;
            left: 44%;
            top: -85px;
            width: 150px;
            border-radius: 50%;
            border: 2px solid #fff;
            background: #6dd4ff;
            box-shadow: -1px -2px 10px #000000;
            cursor: pointer;
        }
        .con .w img:hover{
            background: #fff;
            transition: all 50ms,500ms;
        }
        .con-text p{
            padding-top: 85px;
            font-size: 18px;
            color: #343434;
        }
        .con-text a{
            display: inline-block;
            font-size: 16px;
            padding: 0 12px;
            margin: 10px 10px;
            margin-top: 50px;
            height: 50px;
            line-height: 50px;
            background: #000000;
            border-radius: 3px;
            color: #ffffff;
        }

.footer{
    position: absolute;
    left: 160px;
    top: 500px;
    width: 80%;
    color: #000;
    z-index: 999;
    text-align: center;
}
h3{
    color: #4e4e4e;
    font-size: 12px;
}

.tip{
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #000000;
    font-size: 20px;
}