﻿@charset "utf-8";
/* CSS Document */
html, body, div, p, ul, li, dl, dt, dd, form, input, select, button, textarea, iframe, table, th {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: '微软雅黑';
}
img {
    border:none;
}
    ul li {
        list-style: none;
    }

#top {
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}

.top-left {
    width: 237px;
    height: 90px;
    float: left;
}

.top-right {
    float: right;
}

#Chanel {
    height: 40px;
    line-height: 40px;
    background-color: #19a97b;
}

.Chanel-box {
    font-size: 16px;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

    .Chanel-box span {
        margin-right: 20px;
    }

#content {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #e5fff7;
    border-left: 1px #ccc solid;
}

#content-left {
    width: 240px;
    float: left;
    padding: 10px;
}

    #content-left ul {
        list-style: none;
    }

.series-title {
    line-height: 30px;
    background-color: #e8e8e8;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.article-title {
    line-height: 20px;
    padding-left: 10px;
    font-size: 13px;
    margin-bottom: 3px;
}

#content-right {
    width: 917px;
    min-height: 800px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    float: left;
    padding: 10px;
    background-color: #FFF;
    line-height:25px;
}
    /*#content-right p {
        margin-top:10px;
        margin-bottom:10px;
    }*/
#footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px #ccc solid;
}

.ad {
    padding-left: 5px;
    padding-top: 20px;
}

.scriptedit {
    float: left;
    border: 1px #ccc solid;
}

    .scriptedit textarea {
        border: none;
        height: 277px;
    }

.runscript {
    float: left;
    border: 1px #ccc solid;
}

.clear {
    clear: both;
}
