/*
* @Author: Marte
* @Date:   2017-05-16 20:31:53
* @Last Modified by:   puppy
* @Last Modified time: 2017-05-16 20:56:41
*/
body{
    background: url("body-bg.jpeg");
    background-size: 120%;
    background-color: #b6d6f6;
    background-repeat:no-repeat;
}
.clearfix:before,
.clearfix:after{content:"";display:table;clear:both;}
#wrap{width: 100%;height: 100%;}
#top{
    width: 100%;height: 50px;/*上控制*/
    background-image: url("body-bg.jpeg");
    -webkit-background-size:100%;
    background-size:120%;
    overflow: hidden;
    position: fixed;
    top:0;
    border-bottom: 1px solid #000000;
}
    .logo{
        width: 60%;
        height: 50px;
        margin: 0 auto;
    }
    .logo .logo-bg{
        width: 20%;height: 50px;
        background: url("logo.png") no-repeat;
        -webkit-background-size:30%;
        background-size:30%;
        background-position: top center;
    }
    .logo .logo-bg:hover{
        background-image: url(logo-hover.png);
        background-position: right center;
        transition-duration: 500ms;
        transition-delay: 50ms;
    }
    .logo ul{width: 80%;height: 50px;}
    .logo ul li{display: inline-block;float: left;width: 20%;}
    .logo ul li a{display: block;width: 100%;height: 50px;line-height: 50px;color: #000;text-align: center;}
    .logo ul li a:hover{background: orange;color: #fff;text-align: center;transition-duration: 500ms;transition-delay: 50ms;}

#center{width: 100%;margin-top: 70px;}
    .banner{
        width: 100%;
        height: 500px;
        overflow: hidden;
        text-align: center;
        color: #ffffff;
    }
        .banner_text{margin-top: 190px;}
        .banner_text h1{display: inline-block;width: 40%; margin-bottom: 30px;font-size: 70px;border: 1px solid #f4fffd;}
            .banner_text h1:hover{background: orange;border: 1px solid orange;border-radius: 100px/100px;transition-duration: 1s;transition-delay: 200ms;cursor: pointer;}
            .banner_text a{
                display: inline-block;
                width: 25%; height: 50px;
                font-size: 25px;
                margin-top: 60px;
                color: #ffffff;
                text-decoration: none;
                line-height: 50px;
                border: 1px solid #ffffff;
                border-radius: 60px/60px;
            }
            .banner_text a:hover{border: none; border-radius: inherit;background: orange;transition-duration: 1s;transition-delay: 200ms;}

.content{width: 60%;margin: 20px auto;}
            .nav_{width: 100%;margin-top: 20px;border: 1px solid #000000;}/*这里导致了容器的崩塌。只需要设置高度就可以解决*/
            .title{
                display: inline-block;
                width: 140px;height: 40px;
                background: #000000;
                font-size: 18px;
                color: #ffffff;
                font-weight: 500;
                line-height: 40px;
                text-align: center;
            }
                    .nav_content{padding: 30px;}
                        .nav_content a{
                                float: left;
                                display: inline-block;
                                width: 18%;
                                height: 40px;
                                border: 1px solid #000000;
                                text-align: center;
                                text-decoration: none;
                                color: #000000;
                                line-height: 40px;
                                margin: 2px 3px;
                            }
                            .nav_content a:hover{
                                background: orange;
                                color: #ffffff;
                                border: 1px solid orange;
                                transition-duration: 300ms;
                                transition-delay: 50ms;
                                box-shadow: 1px 1px 1px #a4a4a4;
                            }
                    .nav_center{ width: 18%; height: 40px; margin: 40px auto;}
                    .nav_center a{display: inline-block; width: 120px; height: 40px;border: 1px solid black;text-align: center;text-decoration: none;color: #000000;line-height: 40px;}
                    .nav_center a:hover{border-radius: 40px/40px;border: 1px solid orange;background: orange;transition-duration: 400ms;transition-delay: 200ms;color: #fff;}

.aside-right{position: fixed;top: 49%;left: 90%;}
.aside-right ul li a{color: #000;font-size: 14px;display: block;width: 40px;height: 80px;border: 1px solid #000;text-align: center;}
.aside-right ul li a:hover{background: orange;color: #fff;border: 1px solid orange;border-radius: 40px 40px;transition-duration: 500ms;}

#footer{width: 100%;height: 20px;background: black;margin-top: 60px;text-align: center;color: #ffffff;line-height: 20px;font-size: 10px;}





















































