/*by puppy 2017-4-27*/
/*整体控制*/
*{margin: 0;padding: 0;}
.right{float: right;}.left{float: left;}
.fix{clear: both;}
body{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.wrap{width: 100%;}
.top .logos{width: 50%;margin: 13px auto 5px;text-align: center;}
.top .nav{width: 100%;height: 40px;background: #2e3233;}
.top .nav nav{width: 50%;margin:0 auto;}
.nav nav a{
    display: inline-block;
    width: 20%;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-align: center;
}
.nav nav a:hover{background: #fff;color: #2e3233;transition-duration: 500ms;}
.content .banner{width: 100%;margin-bottom:35px;text-align: center;}
.news{width: 65%;margin:25px auto 10px;}
    .news .h2_1{text-align: center;font-size: 40px;padding-bottom: 20px;font-weight: 300;}
    .news .img_{border: 5px solid #95ccc7;text-align: center;padding-left: 10px;}
    .news .img_:hover{border: 5px dashed orange;transition-duration: 500ms;transition-delay: 100ms;}
    .news .news_2{margin-top: 60px;margin-bottom: 60px;}
.all h1{padding-top: 60px; padding-bottom: 105px;text-align: center;font-weight: 100;}
.all .img_all{
    width: 60%;
    margin: 0 auto;
}
.all .img_all img{
    padding-left: 20px;
    margin-bottom: 40px;
}
.about{
    width: 65%;
    margin: 0 auto;
}
.about-me{
    width: 100%;
    height: 40px;
    background: #93afad;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
}
.about-me span:nth-child(1){font-weight: 600;}
.span-d{text-decoration: underline;}
/* by puppy 2017-5-1*/