/*
                                 _.._        ,------------.
                               ,'      `.    ( Are You 智障? )
                              /  __) __` \    `-,----------'
                             (  (`-`(-')  ) _.-'
                             /)  \  = /  (
                            /'    |--' .  \
                           (  ,---|  `-.)__`
                            )(  `-.,--'   _`-.
                           '/,'          (  Uu",
                            (_       ,    `/,-' )
                            `.__,  : `-'/  /`--'
                              |     `--'  |
                              `   `-._   /
                               \        (
                               /\ .      \.
                              / |` \     ,-\
                             /  \| .)   /   \
                            ( ,'|\    ,'     :
                            | \,`.`--"/      }
                            `,'    \  |,'    /
                           / "-._   `-/      |
                           "-.   "-.,'|     ;
                          /        _/["---'""]
                         :        /  |"-     '
                         '           |      /
                                     `      |


            ---------------------------------------------------------------
            -           听说你想偷我的源码？？？？？                      -
            -                请尊重原作者@陈宏洲                          -
            -                  如需要源代码请@2915537708@qq.com           -
            -                       ver.1.9                               -
            -                           -本次，修改细节部分               -
            -                           -Time: 2017-6-12                   -
            -                           -by @陈宏洲                       -
            -                           -准备买域名中                     -
            ---------------------------------------------------------------
 */

body{
    font-size: 12px;
    font-family: "微软雅黑";
    background: #fff;
}
/*top start*/
#top{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
i{
    padding: 0 5px;/*此处控制小icon*/
}

    .nav{
        position: fixed;
        top: 0;
        z-index: 999999;
        width: 100%;
        height: 50px;
        background: #000000;
    }

        .nav ul li{
            display: inline-block;
            float: left;
        }
            .nav ul li a{
                display: block;
                width: 100px;
                height: 50px;
                font-size: 14px;
                color: #fff;
                line-height: 50px;
                text-align: center;
                vertical-align: middle;/*这里会莫名的自动对齐，加上lh更好*/
            }
            #top .banner{
                position: absolute;
                top: -40px;
                width: 100%;
            }
                #top .index a{
                    width: 150px;
                }
                #top  .activity{
                    background: #2098d1;
                }

/*center start*/
#center{
    width: 1110px;
    margin: 0 auto;
    position: relative;
}
/*公共样式*/
.w{
    width: 1110px;
    margin: 0 auto;
    box-shadow: 1px 1px 10px #606060;
}
    #f1,
    #f-wrap{
        position: absolute;
        font-size: 14px;
        line-height: 50px;
        border-radius: 8px;
    }
    #f1{
        background: #fff;
        top: -30px;
    }
    #f-wrap{
        margin-top: 80px;
    }
    #f2,
    #f3,
    #f4,
    #f5,
    #f6{
        background: #fff;
        margin: 8px 0;
        border-radius: 5px;
    }

    #f2 strong,
    #f3 strong,
    #f4 strong,
    #f5 strong,
    #f6 strong{
        font-size: 16px;
        text-indent: 12px;
        padding-right: 9px;
    }

    #f2 li,
    #f3 li,
    #f4 li,
    #f5 li{
        display: inline-block;
    }

    #f2 a,
    #f3 a,
    #f4 a,
    #f5 a{
        display: inline-block;
        padding: 0 15px;
        color: #838383;
    }
    #f2 a:hover,
    #f3 a:hover,
    #f4 a:Hover,
    #f5 a:hover{
        color: #000;
    }
    i.fa-play{
        font-size: 12px;
        line-height: 50px;
    }
/*end*/
        /*f1 start*/
            #f1 a{
                display: inline-block;
                width: 105px;
                height: 50px;
                line-height: 40px;
                color: #000;
                padding: -40px 18px;
                text-align: center;
            }
            #f1 a img{
                width: 90px;
                border-radius: 5px;
                padding-top: 10px;
            }
        /*f1 end*/
        /*版本更新说明*/
            #f6{
                position: relative;
                overflow: hidden;
            }
            #f6 p{
                text-indent: 3em;
                line-height: 30px;
            }

            #f6 .r{
                position: absolute;
                left: 680px;
                top: 10px;
                width: 200px;
                height: 200px;
                border: 1px solid #585858;
                border-radius: 60%;
                cursor: pointer;
            }
            #f6 .r:hover{
                top: 15px;
                border: 2px solid #000;
                transition: all 30ms,500ms;
            }
            #f6 .r-left,.r-right{
                position: absolute;
                width: 40px;
                height: 40px;
                background: #000;
                border-radius: 50%;
            }
            #f6 .r-left{
                left: 705px;
                top: 100px;
            }
            #f6 .r-right{
                left: 790px;
                top: 100px;
            }
            #f6 .r-left-r,.r-right-r{
                position: absolute;
                cursor: pointer;
                width: 10px;
                height: 8px;
                border-radius: 5px;
                background: #ccc;
                box-shadow: 1px 1px 80px #fff;
            }
            #f6 .r-left-r{
                left: 8px;
                top: 10px;
            }
            #f6 .r-right-r{
                left: 15px;
                top: 14px;
            }
            #f6 span{
                position: absolute;
                left: 760px;
                top: 130px;
                color: #000;
            }
    /*页脚*/
            #footer{
                margin-top: 1100px;
                background: #222126;
                width: 100%;
                height: 25px;
                line-height: 25px;
                color: #fff;
                text-align: center;
                font-size: 12px;
                cursor: pointer;
            }
            #backtop{
                position: fixed;
                bottom: 8px;
                right: 35px;
                z-index: 9999999999;
                width: 50px;
                height: 50px;
                background: #3e3e3e;
                cursor: pointer;
            }
            #backtop a{
                display:block;
                width: 100%;
                height: 100%;
                color: #fff;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
            }
            #backtop a:Hover{
                background: #000000;
                transition: 50ms,400ms;
            }

            #f6 .bg{
                position: absolute;
                top: 2px;
                left: 22%;
                width: 120px;
                height: 100px;
                z-index: 999;
                cursor: pointer;
                background: #fff url("http://d.lanrentuku.com/down/png/1410/bw_halloween/bat-3-256.png") no-repeat;
                background-size: 50%;
                -webkit-background-size: 50%;
            }
            #f6 .bg:hover{
                top: -20px;
                left: 30%;
                background: #fff url("http://d.lanrentuku.com/down/png/1410/bw_halloween/bat-2-256.png") no-repeat;
                background-size: 50%;
                -webkit-background-size: 50%;
                opacity: 0;
                transition: all 200ms,1s;
            }