/*
                                 _.._        ,------------.
                               ,'      `.    ( We want you! )
                              /  __) __` \    `-,----------'
                             (  (`-`(-')  ) _.-'
                             /)  \  = /  (
                            /'    |--' .  \
                           (  ,---|  `-.)__`
                            )(  `-.,--'   _`-.
                           '/,'          (  Uu",
                            (_       ,    `/,-' )
                            `.__,  : `-'/  /`--'
                              |     `--'  |
                              `   `-._   /
                               \        (
                               /\ .      \.
                              / |` \     ,-\
                             /  \| .)   /   \
                            ( ,'|\    ,'     :
                            | \,`.`--"/      }
                            `,'    \  |,'    /
                           / "-._   `-/      |
                           "-.   "-.,'|     ;
                          /        _/["---'""]
                         :        /  |"-     '
                         '           |      /
                                     `      |


            ---------------------------------------------------------------
            -           听说你想偷我的源码？？？？？                      -
            -                请尊重原作者@陈宏洲                          -
            -                  如需要源代码请@2915537708@qq.com           -
            -                       ver.1.8                               -
            -                           -本次，修改更倾向于扁平化         -
            -                           -Time: 2017-6-9                   -
            -                           -by @陈宏洲                       -
            -                           -准备买域名中                     -
            ---------------------------------------------------------------
 */

/*top starts*/
body{
    font-size: 12px;
    font-family: "微软雅黑";
    /*背景采用渐变，各种不兼容*/
    /*
    background: #EA5C54;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #EA5C54), color-stop(100%, #bb6dec));
    background: -webkit-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -webkit-linear-gradient(315deg, #EA5C54 0%, #bb6dec 100%);
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 );
    */
    /*background-image: linear-gradient(-90deg, #4B2B26, #27264B);*/
    background: #fff;
}
.bg{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 400px;
    height: auto;
    overflow: hidden;
}
#top{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
    .nav{
        height: 50px;
        background: #000;
    }
    i{
        padding: 0 5px;/*此处控制小icon*/
    }
        .nav ul li{
            display: inline-block;
            float: left;
        }
            .nav ul li a{
                display: inline-block;
                width: 100px;
                height: 50px;
                font-size: 14px;
                color: #fff;
                line-height: 50px;
                text-align: center;
                vertical-align: middle;/*这里会莫名的自动对齐，加上lh更好*/
            }
            .nav ul li a.ml{
                margin-left: 60px;
            }/*控制与首页的间距，ml=“margin-left”*/
            .nav ul li.weather iframe{
                padding-top: 14px;
                vertical-align: middle;
            }
            .nav ul li.time{
                padding-top: 20px;
            }
            /*控制上，引入js库*/
            .headroom {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                transition: all .2s ease-in-out;
                z-index: 9999;
            }
            .headroom--unpinned {top: -100px;}
            .headroom--pinned {top: 0;}
            /*寻找js库*/
            #top  .my{
                position: absolute;
                left: 200px;
                top: 180px;
                z-index: 99;
                cursor: pointer;
                font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
                text-align: right;
                font-size: 20px;
                color: #f5f5ff;
                line-height: 40px;
            }
                #top .my p{
                    text-shadow: 2px 2px 4px #999;
                }
                #top .my p span{
                    text-shadow: 1px 1px 20px #ccc;
                    color: #000;
                    font-size: 22px;
                }
                #top .my i{
                    font-style: normal;
                    display: inline-block;
                    width: 100px;
                    height: 30px;
                    background: #000000;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 10px;
                    color: #ffffff;
                    font-size: 13px;
                }
                #top .my i:hover{
                    color: #fff;
                    border-radius: 3px;
                    overflow: hidden;
                }
                #top .my i.none:Hover{
                    opacity: 0;
                    transition: all 50ms,500ms;
                }
                #top  .activity{
                    background: #38c1ff;
                }
            .banner{
                position: absolute;
                top: 0;
                width: 100%;
                overflow: hidden;
            }
            .banner ul{
                position: absolute;
            }
            .banner ul li{
                width: 100%;
                height: 560px;
                float: left;
            }
            .banner ol{
                height: 20px;
                background: rgba(0,0,0,0.5);
                position: absolute;
                left:50%;
                bottom: 30px;
                padding: 0 10px;
                border-radius: 10px;
                cursor: pointer;
            }
            .banner ol li{
                width: 10px;
                height: 10px;
                float: left;
                margin: 5px 5px;
                background: rgba(255,255,255,0.5);
                border-radius: 50%;
                cursor: pointer;
            }
            .banner ol .current{
                background: rgba(255,255,255,1);
            }
            .banner i{
                width: 58px;
                height: 120px;
                position: absolute;
                top: 50%;
                margin-top: -60px;
                cursor: pointer;
                border-radius: 8px;
                display: none;
                color: #fff;
                line-height: 120px;
                font-size: 40px;
                text-align: center;
            }
            .banner .left{
                left: 60px;
            }
            .banner .right{
                right: 60px;
            }
            .banner .left:hover , .banner .right:hover{
                background-color: rgba(82, 107, 112, 0.31);
            }

            /*#center start*/
#center{
    width: 1110px;
    margin: 0 auto;
    position: relative;
}
            /*公共样式*/
            .w{
                width: 1110px;
                margin: 0 auto;
                box-shadow: 1px 1px 10px #606060;
            }
            #f1,
            #f2,
            #f3,
            #f4,
            #f5,
            #f6{
                position: absolute;
                background: #fff;
                font-size: 18px;
                line-height: 50px;
                border-radius: 8px;
            }
            #f1{
                top: -15px;
                height: 120px;
            }
            #f1 a{
                display: inline-block;
                width: 105.33px;/*可能会产生Bug,因为用了小数点，在ie下和webkit下可能会出问题*/
                height: 50px;
                line-height: 40px;
                color: #000;
                padding: -40px 18px;
                text-align: center;
            }
            #f1 a img{
                width: 90px;
                padding-top: 8px;
                padding-bottom: 11px;
                border-radius: 5px;
            }
            #f1 a span{
                display: block;
                width: 100%;
                height: 40px;
                color: #fff;
                margin-top: -19px;
            }
            #f1 a:hover span{
                color: #000;
                transition: all 50ms,500ms;
            }

            #f2{
                margin-top: 130px;
            }
            #f2 strong,
            #f3 strong,
            #f4 strong,
            #f5 strong,
            #f6 strong{
                text-indent: 12px;
                padding-right: 10px;
            }
            #f2 a,
            #f3 a,
            #f4 a,
            #f5 a{
                float: left;
                padding: 0 15px;
                color: #838383;
            }
            #f2 a:hover,
            #f3 a:hover,
            #f4 a:Hover,
            #f5 a:hover{
                color: #000;
            }
            /*可能会出现后患*/
            i.fa-play{
                font-size: 12px;
                line-height: 50px;
            }
            #f3{
                margin-top: 200px;
            }
            #f4{
                margin-top: 520px;
            }
            #f5{
                margin-top: 690px;
            }
            #f6{
                margin-top: 860px;
                overflow: hidden;
            }
            #f6 p{
                text-indent: 3em;
                line-height: 30px;
            }
            #f6 .r{
                position: absolute;
                left: 680px;
                top: 40px;
                width: 400px;
                height: 400px;
                border-radius: 60%;
                border: 2px solid #000;
            }
            #f6 .r-left,.r-right{
                position: absolute;
                width: 50px;
                height: 50px;
                background: #000;
                border-radius: 50%;
            }
            #f6 .r-left{
                left: 830px;
                top: 110px;
            }
            #f6 .r-right{
                left: 850px;
                top: 250px;
            }
            #f6 .r-left-r,.r-right-r{
                position: absolute;
                cursor: pointer;
                width: 10px;
                height: 15px;
                border-radius: 10px;
                background: #ccc;
                box-shadow: 1px 1px 30px #00ff4e;
            }
            #f6 .r-left-r{
                left: 15px;
                top: 10px;
            }
            #f6 .r-right-r{
                left: 18px;
                top: 15px;
            }
            #f6 .r-left-r:hover,
            #f6 .r-right-r:hover{
                left: 30px;
                top: 5px;
                transition: all 50ms,1s;
            }
            /*hover css.css*/
            #footer{
                background: #4d4a52;
                width: 100%;
                height: 50px;
                line-height: 50px;
                z-index: 99999999999;
                margin-top: 1250px;
                color: #fff;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
            }
            #backtop{
                position: fixed;
                bottom: 8px;
                right: 30px;
                z-index: 9999999999;
                width: 50px;
                height: 50px;
                background: #000;
                cursor: pointer;
                border-radius: 5px;
                overflow: hidden;
            }
            #backtop a{
                display:block;
                width: 100%;
                height: 100%;
                color: #fff;
                text-align: center;
                line-height: 50px;
                font-size: 20px;
            }
            #backtop a:Hover{
                background: #fff;
                color:#000;
                transition: 50ms,400ms;
            }