/*by puppy 2017-5-6*/
/*全局控制*/

*{margin: 0;padding: 0;}
@font-face{font-family: shenmegui;src: url(../../fonts/tel.ttf);/*这里居然需要两个上*/}
li{list-style: none;}
body{background: #444;width: 100%;}
#wrap{width: 100%;height: 100%;}
#main_left{width: 18%;height: 100%;float: left;}
#main_right{width: 80%;height: 100%;float: left;}

/*end*/
/*左边 start*/
.aside-left{
    margin-top: 55px;
    margin-left: 50px;
}
.aside-left h1, .manifesto p,.nav a{color: white;}/*可能会出现后患，以为在其父级上设置的QAQ*/
.header .logo h1{display: inline-block;width: 155px;height: 50px;border: 3px solid white;font-size: 20px;line-height: 50px;text-align: center;margin-bottom:15px;}
.header .logo h1:hover{font-size: 30px;transition-duration: 400ms;transition-delay: 100ms;}
.manifesto p{display: inline-block;width: 155px;height: 20px;font-size: 15px; font-family: "微软雅黑"; text-align: center;border: 1px solid #444;margin-bottom: 30px;}
.nav a{display: inline-block; width: 180px;height:50px; text-decoration: none;line-height: 50px;text-indent: 10px;border: 1px solid #444;color: #ccc;}
.nav_1{margin-bottom: 50px;}/*两个导航之间的间距*/
.nav a:hover{border: 1px solid white;border-radius: 30px/30px;transition-delay: 100ms;transition-duration: 500ms;text-align: center;font-weight: bold;color: white;}/*简写法，嘿嘿*/
.nav_2 a:last-child:hover{color: orange;}/*选择最后一个元素，其实就是让打赏我多点效果，碰瓷呗QAQ*/
/*自己作死做了很多特效。但是bug也随之而来。我开始想就是把a直接转换为块状，就可以了。但是兼容性很差啊，在不同窗口下就出问题了。所以我在采用了简单粗暴的办法，直接加br，简直机智如我啊~*/
/*左边完成，End*/
/*右边 start*/
.activity_list{width: 80%; height: 1080px; background: white;}
.activity_margin{padding: 20px 25px;}/*又是一道坑，又不知不觉掉进去了。*/
.item{margin-bottom: 30px;}
.item h1{font-size: 200px;}
.item_title{border-bottom: 1px solid #ccc;}
.item_title{font-weight: 300;font-size: 20px;padding: 5px;}
.item_introduce{font-size: 8px;color: #ccc;}