/*
                                 _.._        ,------------.
                               ,'      `.    ( Are You 智障? )
                              /  __) __` \    `-,----------'
                             (  (`-`(-')  ) _.-'
                             /)  \  = /  (
                            /'    |--' .  \
                           (  ,---|  `-.)__`
                            )(  `-.,--'   _`-.
                           '/,'          (  Uu",
                            (_       ,    `/,-' )
                            `.__,  : `-'/  /`--'
                              |     `--'  |
                              `   `-._   /
                               \        (
                               /\ .      \.
                              / |` \     ,-\
                             /  \| .)   /   \
                            ( ,'|\    ,'     :
                            | \,`.`--"/      }
                            `,'    \  |,'    /
                           / "-._   `-/      |
                           "-.   "-.,'|     ;
                          /        _/["---'""]
                         :        /  |"-     '
                         '           |      /
                                     `      |


            ---------------------------------------------------------------
            -           听说你想偷我的源码？？？？？                      -
            -                请尊重原作者@陈宏洲                          -
            -                  如需要源代码请@2915537708@qq.com           -
            -                       ver.2.0                               -
            -                           -本次，修改细节部分               -
            -                           -Time: 2017-6-12                   -
            -                           -by @陈宏洲                       -
            -                           -准备买域名中                     -
            ---------------------------------------------------------------
 */

body{
    font-size: 12px;
    font-family: "微软雅黑";
    background: #fff;
}
/*top start*/
#top{
    position: relative;
    width: 100%;
    overflow: hidden;
}
i{
    padding: 0 5px;/*此处控制小icon*/
}
.header-navigation {
    position: fixed;
    top: -2px;
    width: 100%;
    height: 50px;
    line-height: 48px;
    background-color: #000000;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 9999;
}
.header-navigation ul li{
    float: left;
    display: inline-block;
    height: 50px;
}
.header-navigation ul li a{
    display: inline-block;
    width: 100px;
    color: #fff;
    text-align: center;
}
.slideUp {
    /* -webkit-transform: translateY(-100px);
     transform: translateY(-100px);*/
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
    /*transition: transform .5s ease-out;*/
    -webkit-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}

.slideDown {
    /*-webkit-transform: translateY(0);
    transform: translateY(0);*/
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    /*transition: transform .5s ease-out;*/
    -webkit-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}
#top .index a{
    width: 150px;
}
.header-navigation  .activity{
    height: 50px;
    background: #2098d1;
}
