/*by puppy 2017-5-19*/
*{margin: 0;padding: 0;outline: none;}
a{text-decoration: none;color: #000;}
p{color: #ffffff;}
li{list-style: none;}
.clearfix:after,
.clearfix:before{
    content: "";
    display: block;
    clear: both;
}
.fl{float: left;}
.fr{float: right;}
.my-a{color: #df0a00 !important;}