/*by puppy 2017-5-19*/
#wrap{width: 100%;height: 100%;}
#header {
    width: 100%;
    height: 130px;
    position: relative;
}
    .logos{
        width: 1190px;height: 130px;margin: 0 auto;
    }
        .logos .logo-search{
            position: absolute;top: 40px;left: 400px;
        }
            .logo-search .search-input {width: 700px;height: 35px;
                border: 1px solid #c60a0a;
            }
            .logo-search .search-submit{
                width: 80px;height: 38px;border: none;
                background: #c60a0a;
                color: #fff;
                cursor: pointer;
            }
            .logo-search ul li{display: inline-block;}
            .logo-search ul li a{
                display: block;color: #4b4b4b;
                font-weight: 200;border-left: 1px solid #e9e9e9;
                padding: 0 12px;font-size: 16px;
            }
            .logo-search ul li a:hover{
                color: #c60a0a;text-decoration: underline;
            }
/*header end*/
#content{width: 100%;background: #f5f5f5;}
    .top-nav-wrap{
        width: 100%;height: 36px;
        background: #dd2727;
    }
        .top-nav{
            width: 1190px;height: 36px;margin-left: 21%;
        }
            .top-nav ul li{
                display: inline-block;float: left;
            }
                .top-nav ul li a{
                    display: block;
                    color: #fff;
                    line-height: 36px;
                    font-size: 15px;
                    padding: 0 15px;
                    font-weight: bold;
                }
                .top-nav ul li a:hover{
                    background: #ffffff;color: #000;
                    transition-duration: 200ms;
                    font-weight: 400;
                }
                .top-nav ul li a.shop-nav{
                    width: 160px;
                    background: #c60a0a;
                    text-indent: 0;
                    color: #fff;font-weight: bold;
                }
                .top-nav ul li a.shop-nav:before{
                    content: ":）";
                    font-size: 16px;
                    padding-right: 3px;
                }
    .main-banner{
        width: 100%;height: 500px;background: #d7133b url("../images/banner-big.jpeg");
        position: relative;
    }
        .sidebar{
            position: absolute;
            top: -36px;
            left: 115px;
            width: 170px;
        }
            .sidebar ul li{
                text-indent: 1em;
                font-size: 15px;
                line-height: 30px;
            }
            .sidebar ul li.shop-nav{
                text-align: center;
                line-height: 36px;
            }
            .sidebar ul li.shop-nav a{
                color:#fff;font-size: 16px;font-weight: bold;
            }
            .sidebar ul li.shop-nav:hover{
                background: #000;
            }
            .sidebar .box-shadow{
                border: 1px solid #ebebeb;
            }
            .sidebar .box-shadow:hover{
                box-shadow: 1px 1px 10px #ccc;
                /*类名不想写ing.....*/
            }
            .banner-radius ul{
                position: absolute;
                top: 88%;
                right: 40%;
                cursor: pointer;
            }
                .banner-radius ul li{
                    display: inline-block;
                    width: 15px;height: 15px;
                    background: #000;
                    border-radius: 50%;
                    opacity: 0.5;
                }
                .banner-radius ul li.max{
                    width: 40px;
                    border-radius: 10px;background: #df0a00;
                }
                .banner-radius ul:hover li.max{
                    width: 15px;
                    border-radius: 50%;background: #000;
                }
                .banner-radius ul li:hover{width: 40px;
                    border-radius: 10px;
                    background: #df0a00;
                    transition-duration: 400ms;transition-delay: 200ms;
                }
     .module-body{
         width: 1190px;height: 300px;background: #f7f7f7;
        margin: 20px auto;
     }
        .module-body .live-con{
            position: relative;
            width: 40%;height: 100%;background: #ffffff;
            cursor: pointer;
        }
            .live-con .live-play-ctn{
                position: absolute;
                top: 0;
                width: 100%;
                height: 200px;
                background: #ccc;
                color: #fff;
            }
                .live-play-icon span{
                    position: absolute;
                    top: 30%;
                    left: 47%;
                    display: block;
                    width: 40px;height: 40px;
                    color: #fff;
                    text-align: center;
                    line-height: 40px;
                    background: #9a9a9a;
                    border-radius: 8px;
                    border: 1px solid #fff;
                }
                .live-con:hover .live-play-icon span{
                    transform: scale(1.3,1.3);
                    transition-delay: 300ms;
                    transition-duration: 500ms;
                    box-shadow: 1px 1px 10px #90a1cc;
                }
                .live-play-title{
                    position: absolute;
                    top: 60%;
                    left: 30%;
                    font-size: 25px;
                }
                .live-play-time{
                    position: absolute;
                    top: 78%;left: 37%;
                }
                .live-play-right{
                    position: absolute;
                    top: 20px;right: 10px;
                    width: 60px;height: 20px;
                    border-radius: 10px;
                    background: #636363;
                    font-size: 12px;
                    line-height: 20px;
                }
                .live-play-right span{
                    margin-left: 4px;
                    display: inline-block;
                    width: 10px;height: 10px;
                    background: orangered;
                    border-radius: 50%;
                }
                .live-slide-list,.live-forecast{background: #000;}
                .live-slide-list-wrap{
                    position: absolute;
                    top: 200px;
                    width: 100%;
                    height: 70px;
                    overflow: hidden;
                }
                .live-slide-list-wrap a{
                    position: relative;
                    display: inline-block;
                    margin-right: 3px;
                }
                .live-slide-list-wrap a img{
                    width: 155px;
                }
                .live-slide-list-wrap a p{
                    position: absolute;
                    bottom: 112px;
                    left: 22px;
                    color: #002cff;
                    font-size: 17px;
                }
                .live-slide-list .first,
                .live-slide-list .last {
                    position: absolute;
                    z-index: 999;
                    width: 15px;height: 70px;
                    border-radius: 1px;
                    background: #000;
                    color: #fff;
                    text-align: center;
                    line-height: 70px;
                    opacity: 0.6;
                    display: none;
                }
                .live-slide-list .first{
                    top: 200px;
                    left: -5px;
                }
                .live-slide-list .last{
                    top: 200px;
                    right: -5px;
                }
                .live-slide-list:hover .first{
                    display: block;
                }
                .live-slide-list:hover .last{
                    display: block;
                }
                .live-forecast{
                    position: absolute;
                    top: 270px;
                    width: 100%;
                    height: 30px;
                    font-size: 16px;
                    text-align: center;
                    color: #fff;
                    line-height: 30px;
                }
        .module-body .brand-list{
            width: 60%;height: 100%;
            background: #ccc;
            overflow: hidden;
            cursor: pointer;
        }
                .brand-list ul li{
                    position: relative;
                    float: left;
                    display: inline-block;
                    margin-right: 1px;
                    margin-bottom: 1px;
                    width: 118px;
                    height: 105px;
                    background: #ffffff;
                }
                .brand-list ul li .brand-mask{
                    position: absolute;
                    width: 100%;height: 100%;
                    background: #000;
                    color: #fff;
                    text-align: center;
                    display: none;
                    opacity: 0.8;
                }
                .brand-list ul li:hover .brand-mask{
                    display: block;
                }/*这里我居然傻傻把已经隐藏的hover。。。*/
                .brand-list ul li .coupon{
                    width: 100%;
                    height: 50px;
                    line-height: 60px;
                    font-size: 15px;
                }
                .brand-list ul li .enter{
                    width: 60px;height: 20px;
                    font-size: 13px;
                    line-height: 20px;
                    background: #ff0000;
                    margin: 3px auto 0;
                    border-radius: 10px;
                }
     .channe-con{
         width: 1230px;
         margin: 20px auto 0;
     }
        .channe-wrap{
            width: 1190px;
            margin: 0 auto;
        }
            .channe-column{
                position: relative;
                float: left;
                width: 228px;height: 500px;
                margin-right: 10px;
                text-align: center;
                background: #fff;
            }
            .channe-column:hover{
                box-shadow: 1px 1px 10px #ccc;
            }
            .channe-line{
                position: absolute;
                top: 49%;
                left: 8%;
                width: 85%;height: 1px;
                background: #ccc;
            }
                .channe-title{
                    width: 100%;height: 36px;
                    background: #dd2727;
                }
                    .channe-title span{
                        font-size: 18px;font-weight: 700;color: #fff;line-height: 36px;
                    }
                    .channe-title span:before{
                        content: ":）";
                    }
                    .channe-item .item-title{
                        margin-top: 15px;
                        width: 100%;height: 24px;
                        line-height: 24px;
                        font-size: 20px;
                    }
                    .channe-item .item-sub-title{
                        font-size: 12px;color: #a0a0a0;
                        padding: 3px;
                    }
                .channe-item-m{
                    display: block;padding-top: 60px;
                }/*这里一直出问题，原来是要改变为块级元素，不然就会对设置内外边距无效*/
                    .channe-item .item-img-wrap{
                        width: 100%;
                        height: 100px;
                    }
                        .channe-item .item-img-wrap img{
                            width: 100px;height: 100px;
                        }
                        .channe-item .item-img-wrap img:hover{
                            width: 110px;height: 110px;
                            transform: translate(-5%,-5%);
                            transition: width .5s;
                        }
    .full-banner{
        width: 1190px;height: 80px;
        background: #3c3c3c;
        margin: 30px auto 0;
    }
        .full-banner p{
            line-height: 80px;
            font-size: 20px;text-align: center;
        }
    .floor-con{
        margin:20px auto 0;
        width: 1190px;
    }
        .floor-line-con{
            position: relative;
            margin-top: 30px;
            width: 100%;height: 470px;
        }
                .floor-line-title  i.color-mark{
                    display: inline-block;
                    width: 4px;height: 18px;
                    background: #ea5f8d;
                }
                    .floor-name,.floor-sub-name{
                        display: inline-block;
                        font-size: 18px;
                        line-height: 18px;
                    }
                    .floor-sub-name{
                        font-size: 13px;padding-left: 5px;
                    }
                .hot-word-con{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                    .hot-word-con a{
                        display: inline-block;
                        height: 20px;
                        margin: 5px 10px;
                        font-size: 14px;
                        border-bottom: 1px solid #f5f5f5;/*设置为背景颜色一样的颜色，不然hover的时候会位移，麻烦*/
                    }
                    .hot-word-con a:hover{
                        border-bottom: 1px solid #000;/*QAQ*/
                    }
        .floor-line-content{
            position: absolute;
            top: 30px;
        }
            .big-banner-con{
                width: 246px;height: 440px;
            }
                .big-banner-con img{width: 246px;}
                .big-banner-con img:hover{opacity: 0.8;}
                .act-title-ctn{
                    position: absolute;
                    top: 300px;
                    width: 246px;
                    height: 30px;
                    text-align: center;
                    background: #e7e7e7;
                    color: #000000;
                    line-height: 30px;
                    opacity: 0.5;
                }
                .title-con{
                    position: absolute;
                    top: 330px;
                    width: 246px;height: 110px;
                    background: #ea5f8d;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                }
                    .title-con .title{
                        line-height: 50px;
                        font-size: 22px;
                        font-weight: bold;
                    }
                .middele-column-con{
                    width: 735px;
                    height: 440px;
                }
                    .one-grid{
                        background: #fff;
                        border-bottom: 1px solid #f6f6f6;
                        border-right: 1px solid #f6f6f6;
                        position: relative;
                    }/*公共样式提出来*/
                    .grid{
                         float: left;
                         display: block;
                         width: 244px;height: 220px;
                        overflow: hidden;
                    }

                    .middele-column-con img{
                        position: absolute;
                        top: 68px;
                        right: 5px;
                        width: 150px;
                        height: 150px;
                    }
                    .middele-column-con img:hover{
                        right: 10px !important;/*这里加权重是为了交互效果，如果我没有设置，那么某- hover的时候他就会不显示出交互效果 这里涉及到了权重的知识*/
                        transition: right .3s;
                    }
                    .middele-column-con .title{
                        position: absolute;
                        font-size: 18px;
                        top: 19px;
                        left: 18px;
                    }
                    .middele-column-con .sub-title{
                        position: absolute;
                        top: 45px;
                        left: 20px;
                        font-size: 14px;
                        color: #ea5f8d;
                    }
                .right-column-con{
                    width: 209px;
                    height: 440px;
                }
                    .second-grid{
                        position: relative;
                        display: block;
                        width: 248px;
                        height: 145px;
                        background: #fff;
                    }
                    .right-column-con img{
                        position: absolute;
                        top: 60px;left: 148px;
                        width: 90px;height: 85px;
                    }
                    .right-column-con img:hover{
                        left: 140px;
                        transition: left .5s;
                    }
                    .right-column-con .title{
                        position: absolute;
                        top: 14px;left: 30px;
                        font-size: 20px;
                    }
                    .right-column-con .sub-title {
                        position: absolute;
                        top: 40px;
                        left: 32px;
                        font-size:14px;
                        color: #0000cc;
                    }
                            .grid .sub-title-color{
                                font-size: 16px !important;
                                color: #0000cc;
                            }/*这里我若是设置在前面还是会显示为粉色，因为他只会继承在最后的样式*/
       .floor-con .you-like{
           font-family: "宋体";/*继承性*/
           width: 1190px;height: 60px;
           margin: 20px auto 0;
           text-align: center;
           color: #666666;
       }
            .you-like strong{
                line-height: 60px;
                padding: 0px 15px;
                font-weight: 200;
            }
            .you-like i{
                display: inline-block;
                width: 60px;height: 1px;
                background: #666666;
                margin-bottom: 5px;
            }

       .floor-con .pinterest/*pinterest="瀑布流"*/{
           width: 100%;
           height: 500px;
           border: 1px solid red;
       }
        .floor-con ul li{
            display: inline-block;
        }
            .floor-con ul li a{
                display: block;
                width: 213px;
                height: 319px;
                background: #ccc;
            }
            .floor-con ul li a span.item-pic img{
                width: 100%;
                height: 215px;
                display: block;
                border-bottom: 1px solid red;
            }
            .floor-con ul li a span.item-pic img{
                border: 1px solid red;
                border-left: 1px solid red;
                border-right: 1px solid red;
                border-top: 1px solid red;
                border-bottom: 1px solid red;
            }





























































