/*by puppy 2017-4-28*/
*{margin: 0;padding:0;}
body{
    font-family:"宋体";}
.wrap{width: 100%;}
    .most-top{
        width: 100%;
        height: 30px;
        background: #f2f2f2;
    }
        .most-top-center{
            line-height:30px;
            font-size:13px;
            width: 85%;
            margin: 0 auto;
            color: #898989;
        }
            .most-top-center span{
                float: left;
                color: #ff0000;
            }
            .most-top-center .right{
                float: right;
            }
            .most-top-center a{
                text-decoration: none;
                color: #898989;
            }
            .most-top-center a:hover{color: #ff0000
            }

    .logos{
        width: 85%;height: 116px;
        margin: 0 auto;
        color: #898989;
    }
        .logos img{float: left;width: 30%;}
        .logos .input-1{
                margin-left: 8%;/*这里有毒,只要一设置浮动就会出现问题.我真是服了.这bug,我快纠结出病了*/
                width: 400px;
                height: 30px;
                margin-top: 40px;
                border: 1px solid #ff3d00;border-radius: 3px 2px;
                background: url("../images/icon/Seek.png") right no-repeat;
        }
        .logos .my-shop{float: right;}
            .logos .my-shop .shop{
                display: inline-block;
                width: 85px;
                height: 30px;
                border: 1px solid #898989;
                border-radius: 3px 3px;
                margin-top: 40px;
                margin-right: 20px;
            }
                .logos .my-shop a{
                    font-size: 13px;
                    text-decoration: none;
                    padding-left: 20px;
                    color: #898989;
                    background: url("../images/icon/Shopping.png") left no-repeat;
                }
                .logos .my-shop a:hover{color: #FF3D00;}

.clear{clear: both;}/*清除浮动。浮动神马的。*/
    .nav{width: 100%;height: 40px; background: #FF3D00;}
        .nav-top{margin: 0 auto;width: 80%;height: 40px;}
            .nav-top a{
                display: inline-block;
                padding-left: 40px;
                padding-right: 40px;
                text-decoration: none;
                line-height: 40px;
                color: #ffffff;
                font-size: 17px;
            }
                .nav-top a:nth-child(1){font-weight: 900;padding-right: 10px;}
                .nav-top a:nth-child(2){background: #ab2007;padding-left: 30px;padding-right: 30px;}
                .nav-top a:nth-child(3),
                .nav-top a:nth-child(4),
                .nav-top a:nth-child(6){background: url("../images/icon/Hot.png") right no-repeat;}/*图片*/
                .nav-top a:hover{background: #AB2007;}


.banner{width: 80%;margin: 0 auto;}
    .list-nav{float: left;}
        .list-nav ul li{
            width: 119px;
            list-style: none;
            line-height: 45px;
            text-indent: 2em;
            font-size: 13px;
            border: 1px solid #d9d9d9;
        }

.generalize{width: 80%; margin: 10px auto;border: 1px solid #d9d9d9;}
.product{width: 80%;height: 460px;margin: 3px auto;border: 1px solid #d9d9d9;}
    .product img{margin-left: 10%;margin-top: 5%;}
    .product img:nth-child(1){float: left;border: none;margin: 0;}

.generalize_1{width: 80%;height: 120px; margin: 2px auto;background: #5fc5d4;}

.footer-img{width: 100%;margin-top: 100px;text-align: center;}

hr{margin-bottom: 40px;margin-top: 40px;}
.p-center{text-align: center;width: 100%;height:40px; background: #5FC5D4;color: #ffffff;line-height: 40px;}
.footer-span{font-weight:900;}
.p-center span:nth-child(2),
.p-center span:nth-child(3),
.p-center span:nth-child(4),
.p-center span:nth-child(5){text-decoration: underline;}