/*
Theme Name: Begin cms
*/

/** 淘客模块 **/
.tao-h {
	background: #fff;
	margin: 0 0 10px 0;
	padding: 0px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.tao-h-img {
	max-width: 100%;
 	width: auto;
	height: auto;
    overflow: hidden;
	transition-duration: .5s;
}
/** 图片模块 **/
.picture-h {
	background: #fff;
	margin: 0 0 10px 0;
	padding: 0px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.picture-h-img {
	max-width: 100%;
 	width: auto;
	height: auto;
    overflow: hidden;
	transition-duration: .5s;
}
.picture-h-img a img, .tao-h-img a img {
	float: left;
	max-width: 100%;
 	width: auto;
	height: auto;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear
}
.picture-h-img:hover a img, .tao-h-img:hover a img {
	transition: All 0.7s ease;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.picture-h-title, .flexisel-h-title {
	text-align: center;
	line-height: 30px;
	margin: 0 10px 5px 10px;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.line-four, .line-tao {
	margin: 0 -5px;
}
.line-four .xl4, .line-tao .xl4 {
	position: relative;
	min-height: 1px;
	padding: 0 5px;
}
@media screen and (min-width:999px) {
	.picture-h-img {
		height: 135px;
		overflow: hidden;
		transition-duration: .5s;
	}
}
.xm4 {
	position: relative;
	min-height: 1px;
}
.cat-box .fa-angle-right, 
.tab-site .fa-angle-right {
	margin-right: 5px;
	color: #999;
}
/** 单栏分类列表 **/
.line-one .cat-site {
	margin: 10px 0 0 0;
}
.cat-one-list li {
	line-height: 210%;
	margin: 0 50px 0 0;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.line-one-thumbnail {
	float: left;
	width: 200px;
	height: 150px;
	margin: 0 15px 0 0;
    overflow: hidden;
	transition-duration: .5s;
}
.line-one-thumbnail a img {
	width: 200px;
	height: 150px;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear
}
.line-one-thumbnail:hover a img {
	transition: All 0.7s ease;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
@media screen and (max-width: 550px) {
	.line-one-thumbnail {
		display: none;
	}
}
/** 两栏分类列表 **/
.cat-box {
	position: relative;
	background: #fff;
	margin: 0 0 10px 0;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.cat-box .cat-title {
	float: left;
	background: #f8f8f8;
	width: 100%;
    height: 40px;
    line-height: 40px;
	border-bottom: 1px solid #ddd;
}
.cat-box .cat-title a {
	float: left;
}
.cat-title .fa-bars {
	float: left;
	font-size: 18px;
	color: #2f889a;
	width: 40px;
    height: 40px;
	line-height: 40px;
	margin-right: 15px;
	padding: 1px 0;
	text-align: center;
	border-right: 1px solid #ddd;
}
.cat-site {
	padding: 10px 20px 20px 20px;
}
.cat-site h2 {
	font-size: 16px;
    line-height: 30px;
	margin: 0 0 5px 0;
	width: 90%;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.line-small .thumbnail {
	width: 133px;
	height: 100px;
}
.line-small .thumbnail a img {
	width: 133px;
	height: 100px;
}
.cat-main {
	color: #777;
	margin: 0 0 5px 0;
}
.line-small .cat-main {
	height: 100px;
	overflow: hidden;
}
.cat-list li {
	width: 80%;
	line-height: 210%;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.list-date {
	float: right;
	color: #999;
}
.line-small {
	margin: 0 -5px;
}
.line-small .xl2 {
	position: relative;
	min-height: 1px;
	padding: 0 5px;
}
.xm2 {
	position: relative;
	min-height: 1px;
}
/** 列表大 **/
.line-big .thumbnail {
	width: 180px;
	height: 130px;
}
.line-big .thumbnail a img {
	width: 180px;
	height: 130px;
}
.line-big .cat-main {
	height: 130px;
	overflow: hidden;
}
.line-big {
	margin: 0 -5px;
}
.line-big .xl3 {
	position: relative;
	min-height: 1px;
	padding: 0 5px;
}
@media screen and (min-width:300px) {
	.xl2 {
		float: left;
		width: 50%;
		transition-duration: .5s;
	}
	.xl3 {
		float: left;
		width: 50%;
		transition-duration: .5s;
	}
}
@media screen and (min-width:320px) {
	.xl4 {
		float: left;
		width: 50%;
		transition-duration: .5s;
	}
}
@media screen and (min-width:1080px) {
	.xm4 {
		float: left;
		width: 25%;
		transition-duration: .5s;
	}
	.xm2 {
		float: left;
		width: 50%;
		transition-duration: .5s;
	}
	.xm3 {
		float: left;
		width: 50%;
		transition-duration: .5s;
	}
}
@media screen and (max-width:1080px) {
	.xm4 {
		width: 25%;
		transition-duration: .5s;
	}
}
@media screen and (max-width: 480px) {
	.line-four {
		margin: 0 -4px;
	}
	.line-tao {
		margin: 0 -3px;
	}
	.xl2 {
		width: 100%;
		transition-duration: .5s;
	}
	.line-small {
		margin: 0 -4px;
	}
	.xl3 {
		width: 100%;
		transition-duration: .5s;
	}
	.line-big {
		margin: 0 -3px;
	}
	.xm4 {
		width: 50%;
		transition-duration: .5s;
	}
}
@media screen and (max-width: 700px) {
	.xl2 {
		width: 100%;
		transition-duration: .5s;
	}
	.xl3 {
		width: 100%;
		transition-duration: .5s;
	}
}
@media screen and (max-width: 620px) {
	.cat-box .thumbnail{
		width: 100px;
		height: 75px;
	}
	.cat-box .thumbnail a img {
		width: 100px;
		height: 75px;
		transition-duration: .5s;
	} 
	.cat-box .cat-main {
		height: 75px;
		overflow: hidden;
	}
}
/** 横向滚动 **/
.nbs-flexisel-container {
	position: relative;
    background: #fff;
	max-width: 100%;
	margin: 0 0 10px 0;
    padding: 0 10px;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nbs-flexisel-inner {
    overflow:hidden;
    float: left;
    width: 100%;
}
.nbs-flexisel-item {
    float: left;
    margin: 0;
    padding: 0;
    cursor:pointer;
    position:relative;
    line-height: 0;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    padding: 0 10px;
    height:auto;
    max-width: 250px\0;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear
}
.nbs-flexisel-item:hover img {
	transition: All 0.7s ease;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
}
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 30px;
    height: 30px;
	font-size: 20px;
	color: #999;
	text-align: center;
    position: absolute;
	top:20px !important;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	filter: alpha(opacity=80);
    cursor: pointer;
    z-index: 100;
	border: 1px solid #ddd;
	border-radius: 2px;
}
.nbs-flexisel-nav-left {
    left: 30px;
}
.nbs-flexisel-nav-right {
    left: 66px;
}
@media screen and (max-width: 1024px) {
	.nbs-flexisel-item img {
	    width: 230px\0;
		transition-duration: .5s;
	}
}

/** TAB **/
.tab-site {
	overflow: hidden;
	margin: 0 0 10px 0;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.dom-display .current {
	display: block;
}
.tab-hd {
	background: #f8f8f8;
}
.tab-hd-con {
	width: 98px;
}
.tab-hd .current {
	width: 100px;
}
.tab-hd {
	overflow: hidden;
	height: 40px;
	line-height: 40px;
}
.tab-product .tab-hd .current, .tab-area .current {
	position: relative;
	z-index: 1;
	height: 40px;
	background: #fff;
}
.tab-hd-con {
	float: left;
	text-align: center;
	cursor: pointer;
	height: 39px;
	border-right: 1px solid #ddd;
}
.tab-hd-con a {
	display: inline-block;
}
.tab-bd-con {
	display: none;
	overflow: hidden;
}
.tab-bd {
	background: #fff;
    padding: 20px;
	margin-top: -1px;
	border-top: 1px solid #ddd;
}
.tab-bd li{
	float: left;
	width: 45%;
	line-height: 210%;
	margin: 0 20px 0 0;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
@media screen and (max-width: 480px) {
	.tab-bd li{
		width: 95%;
		margin: 0 0 0 0;
	}
}
/** 两栏小工具 **/
#cms-widget-two h3 {
	float: left;
	background: #f8f8f8;
	width: 100%;
    height: 40px;
    line-height: 40px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #ddd;
}
#cms-widget-two {
	margin: 0 -5px;
}
#cms-widget-two .xl2 {
	position: relative;
	min-height: 1px;
	padding: 0 5px;
}
@media screen and (max-width: 480px) {
	#cms-widget-two {
		margin: 0 -4px;
	}
}
/** 单栏小工具 **/
#cms-widget-one ul{
	float: left;
}
#cms-widget-one h3 {
	float: left;
	background: #f8f8f8;
	width: 100%;
    height: 40px;
    line-height: 40px;
	border-bottom: 1px solid #ddd;
}
#cms-widget-one .widget ul li {
	width: auto;
}
#cms-widget-one .menu li {
    float: left;
}
#cms-widget-one .menu a {
	padding: 0 15px 0 0;
}
/*
Theme Name: Begin pany
*/
.row {
	width: 100%;
}
.col-0 {
	background: #555;
}
.home-slider {
	width: auto;
	margin: 0 auto;
}
.col-1 {
	background: #fff;
	padding: 20px 0;
	border-bottom: 1px solid #cfcfcf;
}
.col-2 {
	background: #e1e1e1;
	padding: 20px 0;
	border-bottom: 1px solid #cfcfcf;
}
.col-3 {
	background: #fff;
	padding: 20px 0;
	border-bottom: 1px solid #cfcfcf;
}
.col-4 {
	background: #555;
	color: #fff;
	padding: 20px 0;
	border-bottom: 1px solid #cfcfcf;
}
.col-4 a {
	color: #fff;
}
.col-4 a:hover {
	color: #ccc;
}
.section {
	width: 1080px;
	margin: 0 auto;
}
#links {
	width: 1080px;
	margin: 0 auto;
	padding: 20px 0;
}
.col-title {
	font-size: 20px;
	line-height: 35px;
	width: 1080px;
	text-align: center;
	margin: 20px auto 20px;
	padding-left: 10px;
}
/** 等于或小于1080px **/
@media screen and (max-width: 1080px) {
	.section, .col-title, #links {
		width: 98%;
	}
	#links {
		width: 98%;
	}
}
/** 四栏 **/
.box-4 {
	background: #fff;
	margin: 0 0 10px 0;
	padding: 0px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
.section-thumbnail{
	max-width: 100%;
 	width: auto;
	height: auto;
    overflow: hidden;
	transition-duration: .5s;
}
.section-thumbnail a img {
	float: left;
	max-width: 100%;
 	width: auto;
	height: auto;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear
}
.section-thumbnail:hover a img {
	transition: All 0.7s ease;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.g4-title {
	text-align: center;
	line-height: 35px;
	margin: 0 10px 5px 10px;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.g4 {
	position: relative;
	float: left;
	min-height: 1px;
	padding: 0 5px;
	transition-duration: .5s;
}
@media screen and (min-width:320px) {
	.g4 {
		width: 50%;
	}
}
@media screen and (min-width:1080px) {
	.g4 {
		width: 25%;
	}
}
@media screen and (max-width:1080px) {
	.g4 {
		width: 25%;
	}
}
@media screen and (max-width: 480px) {
	.g4 {
		width: 50%;
	}
}
/** 简介 **/
.pany-contact-main {
	font-size: 16px;
	line-height: 190%;
	text-align: center;
	margin: 30px 0 0 0;
}
.pany-contact-more {
	width: 260px;
	margin: 30px auto;
}
.pany-contact-more li a {
	float: left;
	width: 120px;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
    border-radius: 2px;
}
.col-4 .pany-more a {
	background: #fff;
	color: #555;
}
.pany-more a {
	background: #555;
}
.contact-more a {
	background: #c40000;
}
.pany-contact-more li a {
	color: #fff;
}
.pany-contact-more li a:hover {
	background: #999;
}
.col-4 .pany-contact-more li a:hover {
	color: #fff;
}
/** 两栏 **/
.box-2 {
	margin: 0 0 30px 0;
}
.custom-thumbnail, .section-custom {
	max-width: 100%;
 	width: auto;
	height: auto;
    overflow: hidden;
	transition-duration: .5s;
}
.custom-thumbnail a img {
	float: left;
	max-width: 100%;
 	width: auto;
	height: auto;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear
}
.custom-thumbnail:hover a img {
	transition: All 0.7s ease;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.g2 {
	position: relative;
	float: left;
	min-height: 1px;
	padding: 0 5px;
	transition-duration: .5s;
}
@media screen and (min-width:640px) {
	.g2 {
		width: 50%;
	}
}
@media screen and (max-width: 640px) {
	.g2 {
		width: 100%;
	}
}
.section-custom {
	font-size: 16px;
	line-height: 190%;
	padding: 0 20px 10px 20px;
}
.custom-more a {
	background: #555;
	float: right;
	color: #fff;
	line-height: 40px;
	margin: 10px 0 0 0;
	padding: 0 20px;
    border-radius: 2px;
}
.cat-more a {
	background: #555;
	float: right;
	font-size: 20px;
	color: #fff;
	line-height: 30px;
	margin: 10px 5px 0 0;
	padding: 0 12px;
    border-radius: 2px;
}
.custom-more a:hover {
	background: #999;
}
.col-4 .custom-more a {
	background: #c40000;
	color: #fff;
}
.col-4 .custom-more a:hover {
	background: #999;
}
/** 小工具 **/
.section .widget-title {
	font-size: 20px;
	padding: 0 0 0 15px;
}
.section .widget-title i {
	display: none;
}
.section .widget {
	background: transparent;
	border: none;
	box-shadow: none;
}
.section .xl2 {
    min-height: 1px;
    padding: 0 5px;
    position: relative;
}

/** 加载动画 **/
.pany-hide {
	opacity: 0.1;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
	-webkit-perspective-origin: top center;
	-moz-perspective-origin: top center;
	perspective-origin: top center;
}
.pany-show {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}