/*by puppy 2017-5-6*/
/*全局控制*/
*{margin: 0;padding: 0;}
@font-face{font-family: shenmegui;src: url(../../fonts/tel.ttf);/*这里居然需要两个上*/}
li{list-style: none;}
body{background: #444;line-height: 40px;}
a,body{color: #ffffff;}
#wrap{width: 100%;height: 100%;}
#main_left{width: 20%;height: 100%;float: left;}
.aside_left{margin: 10px 25px;}
#main_left h1{display: inline-block;border: 8px solid red;}
#main_right{width: 80%;height: 100%;float: left;background: #fff;}
