/*默认*/
*{margin: 0;padding: 0;outline: none;}
li{list-style: none;}
a{text-decoration: none;color:#fff;}
.fl{float: left;}
.fr{float: right;}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: block;
    clear: both;
}

.container{
    width: 100%;
    margin: 0 auto;
}
    .header-wrap{
        width: 100%;
        height: 142px;
    }
        .header{
            width: 98%;
            height: 139px;
            border-bottom: none;
            margin: 2px auto 0;
        }
            .logos{
                width: 1130px;
                height: 100%;
                margin: 0 auto;
                overflow: hidden;
            }
                .logo{
                    width: 40%;
                }
                .logo img{
                    height: 140px;
                }
                .logo-text{
                    width: 150px;
                    height: 140px;
                    text-align: center;
                }
                .logo span,
                .logo strong{
                    margin: 0 5px;
                    display: block;
                    color: #fff;
                }
                .logo span{
                    margin-left: 34px;
                    margin-top: 50px;
                    width: 80px;
                    height: 30px;
                    background: #cc595a;
                    border-radius: 5px;
                    line-height: 30px;
                    cursor: pointer;
                }
                .logo span:hover{
                    background: #c64b72;
                    border-radius: 7px;
                    box-shadow:1px 1px  10px #ccc;
                    transition-duration: 300ms;
                }
                .logo strong{
                    margin-left: 19px;
                    width: 110px;
                    height: 25px;
                    color: #000;
                }
                    .logo-img{
                        margin: 5px 5px;
                        width: auto;height: 100%;
                    }
                    .logo-img img{
                        padding: 15px;
                        padding-left: 60px;
                    }
                .logo-right{
                    position: relative;
                    width: 170px;
                    height: 100%;
                }
                .logo-right a{
                    position: absolute;
                    top: 4px;
                    right: 15px;
                    width: 43px;
                    height: 20px;
                    cursor: pointer;
                }
    .content{
        width: 100%;
    }
        .nav-wrap{
            width: 100%;
            background: #ffffff;
        }
            .nav{
                width: 100%;
                height: 30px;
                background: #000;
            }
                .nav ul{
                    margin-left: 15%;
                }
                .nav ul li{
                    display: inline-block;margin-left: 1px;
                }
                    .nav ul li a{
                        display: block;
                        background: #6E6B69;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                    }
                        .nav ul li a:hover{
                            background: #fff;
                            color: #000;
                            transition-duration: 200ms;
                            transition-delay: 50ms;
                        }
        .banner{
            width: 1130px;
            height: 540px;
            background: url("../images/banner.gif") no-repeat center center;
            margin: 0 auto;
        }
        .shop{
            position: relative;
            width: 100%;
            height: 100%;
            background: #D7C3B0;
            cursor: none;
        }
        .shop-list-wrap{
            width: 1130px;
            background: #fff;
            margin: 0 auto;
        }
        .shop-list img{
             display: block;
              width: 270px;height: 300px;
         }
        .shop-list ul li{
            display: inline-block;
            margin-left: 5px;
            margin-top: 5px;
        }
        .shop-list ul li span{
            display: block;
            text-align: center;
        }
        .shop-list ul li i{
            display: block;
            font-style: normal;
            font-family: "宋体";
            text-align: right;
        }

        /*侧边栏*/
        .aside-right{
            position: absolute;
            right: 130px;
            bottom: 20px;
            width: 60px;
            height: 235px;
            background: #FFFFFF;
            border-radius: 4px;
        }
            .aside-right:hover{
                box-shadow: 1px 1px 10px #ccc;
            }
            .aside-right i{
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                margin: 8px;
                margin-top: 15px;
                font-style: normal;
                font-size: 15px;
                padding-left: 5px;
            }
                .aside-right i:hover{
                    background: #000;
                    color: #fff;
                    transition-duration: 300ms;
                    border-radius: 3px;
                }

       .page-wrap{
           width: 1130px;
           margin:0 auto;
           background: #fff;
       }
        .page-text{
            text-align: center;
            line-height: 34px;
            color: #cacaca;
            padding: 35px 20px 0px 0px;
            margin-left:480px;
        }
        .page-text span.up,
        .page-text span.down{
            display: inline-block;
            width: 70px;
            height: 34px;
            border: 1px solid #EDEDED;
            color: #CDCDCD;
            cursor: pointer;
        }
        .page-text span.hover:hover{
            border: 1px solid #000;
            color: #000;
        }
        .page-text span.down{
            color:#000;
        }
        .page-text i{
            display: inline-block;
            width: 34px;
            height: 34px;
            font-style: normal;
            border: 1px solid #EDEDED;
            cursor: pointer;
            color: #000;
        }
        .page-text i.apostrophe{color: #000;border: none;}
        .page-text i.apostrophe:hover{border: none;color: #000;background: none;cursor: none;}
        .page-text i.p-i{
            background: #FF4400;
            color: #fff;
        }
        .page-text i:hover{
            background: #FF4400;
            color: #fff;
        }
        .page-text strong{
            font-family: "宋体";
            font-style: normal;
            font-size: 12px;
        }
        .page-text input{
            width: 35px;
            height: 20px;
            background: #fff;
            border: 1px solid #ccc;
            color: #ccc;
            padding-left: 3px;
        }
        .service{
            width: 1130px;
            margin: 0 auto;
            padding: 40px 0;
            background: #fff;
        }
        .service .service-item{
            width: 225px;
            border-right: 1px solid #ccc;
            padding: 0px 25px;
        }