/*整体控制*/
@font-face {
    font-family: shenmegui;
    src: url(../font/tel.ttf);
}
*{margin: 0;padding: 0;}
body{
    background: url("../images/center.png");
}
li{list-style: none;}
#wrap{width: 100%;height: 100%;}
/*end*/

/*上 begin*/
#top{
    width: 100%;height: 50px;/*上控制*/
    background: #f4f4f4;
    background-image: url("../images/bg_1.jpg");
    overflow: hidden;
    font-family: shenmegui;
}
    .logo{
        width: 50%;/*导航控制*/
        margin: 0 auto;/*自适应居中*/
    }
    .logo ul li{display: inline-block;float: left;}/*导航li控制*/
        .logo ul li:nth-child(1){display: inline-block;width: 140px;height: 50px;font-size: 25px;}
        .logo ul li:nth-child(1):hover{font-weight: 600;line-height: 50px; transition-duration: 800ms; transition-delay: 100ms; ;cursor: pointer;}
        /*a start*/
        .logo ul li a{
            width: 120px;
            text-decoration: none;color: #000000;
            display: block;/*若是不设置为块状，会先出现莫名BUG*/
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            line-height: 50px;
        }
        .logo ul li a:hover{color: #ffffff;font-weight: 300;background: #b1dcad;transition-duration: 300ms;transition-delay: 200ms;}
        /*a end*/
        /*logo begin*/
        .logo ul li img{width:30px;opacity: 0.2;}
        .logo ul li img:hover{opacity: 1;transition-duration: 200ms;}
        /*logo end*/
/*上 end*/

/*中 begin*/
#center{width: 100%;}
    .banner{
        width: 100%;
        height: 500px;
        overflow: hidden;
        background: url("../images/banner.jpg") no-repeat;
        background-size: 100%;
        text-align: center;
        color: #ffffff;
    }
        .banner_text{margin-top: 190px;}
        .banner_text h1{display: inline-block;width: 40%; margin-bottom: 30px;font-size: 70px;border: 1px solid #f4fffd;}
            .banner_text h1:hover{background: orange;border: 1px solid orange;border-radius: 100px/100px;transition-duration: 1s;transition-delay: 200ms;cursor: pointer;}
            .banner_text a{
                display: inline-block;
                width: 25%; height: 50px;
                font-size: 25px;
                margin-top: 60px;
                color: #ffffff;
                text-decoration: none;
                line-height: 50px;
                border: 1px solid #ffffff;
                border-radius: 60px/60px;
            }
            .banner_text a:hover{border: none; border-radius: inherit;background: orange;transition-duration: 1s;transition-delay: 200ms;}

.content{width: 60%;margin: 20px auto;}
            .nav_{width: 100%;margin-top: 20px;}/*这里导致了容器的崩塌。只需要设置高度就可以解决*/
            .title{
                display: inline-block;
                width: 140px;height: 40px;
                background: #000000;
                font-size: 18px;
                color: #ffffff;
                font-weight: 500;
                line-height: 40px;
                text-align: center;
            }
            /*解决浮动坍塌问题*/
                .clearfix:before,
                .clearfix:after{content:"";display:table;clear:both;}

                    .nav_content{margin-top: 15px;margin-left: 20px;}
                        .nav_content a{
                                float: left;
                                display: inline-block;
                                width: 18%;
                                height: 40px;
                                border: 1px solid #000000;
                                text-align: center;
                                text-decoration: none;
                                color: #000000;
                                line-height: 40px;
                            }
                            .nav_content a:hover{
                                background: #b1dcad;
                                color: #ffffff;
                                box-shadow: 5px 3px 5px #cccccc;
                            }
#footer{width: 100%;height: 40px;background: black;margin-top: 100px;text-align: center;color: #ffffff;line-height: 40px;}
/*by puppy 2017-5-4 貌似用了一天了还没有写完，主要这个方案是晚上开始做的，其中一大部分时间都是在看电视真心无语   。 。 。 。*/